[2018-01-22 22:57] vlraymond opened #1 "POLAR2018 training"
## Summary
Three 1.5 hr workshops at POLAR2018
Room can hold 120 people, and is arranged in lecture style

## Advertising Workshops
- [Flyer design](https://drive.google.com/open?id=11EXT3O6KCKY-BMpbL-FPi78cLk7p6bS2)
- [List of places to advertise training](https://docs.google.com/spreadsheets/d/1OiSIzkVsPvorFo9G_ZFqf7EVdYY0vDKd7o9S4_O0XGs/edit?pli=1#gid=0)

## To Dos
- [x] VR to write to Anja Sch

[2018-01-22 22:59] vlraymond commented on #1
workshop description: https://docs.google.com/document/d/1SRyFJMNKxMAtC2WWK2LqpIIwS9dtYFNf5rCn1sYMykg/edit

[2018-01-22 22:59] vlraymond commented on #1
Trainer team:

Amber
VR / KM
Matt is available if needed
potential: bring additional staff if there is a booth to man

[2018-01-22 22:59] vlraymond commented on #1
VR sent email to Anja about Booth options. Booths are possible, details are scant in the online brochure.

[2018-01-22 23:01] vlraymond opened #2 "48th Int'l Arctic Workshop Apr 2018"
next steps:
- [ ] decide what type of activity we'd like to hold at 48th IAW (special session or group meeting)
- [ ] email organizers by 3/16
- [ ] submit abstracts for talks by 3/16

from their site:
"1. theme is Deciphering the Past, Anticipating the Future: From Ice to Humans
2. "Special Sessions-
The Workshop encourages attendees to propose special sessions and asks that they gather at least

[2018-01-22 23:04] vlraymond opened #3 "Love Data Week & Endangered Data Week Feb 2018"
Prior:
- [ ] identify data stories about ADC
- [ ] identify data rescue stories from ADC
- [ ] content schedule created and shared

During:
- [ ] tweet and post on website about rescue and other data stories
- [ ] possibly feature a data set each day of Love Data Week

[2018-01-22 23:11] vlraymond opened #4 "create NSF awardee notification system"
create system for automating process of pulling NSF awards from their site
currently VR is doing a manual pull from their site.

[2018-01-22 23:12] vlraymond opened #5 "create system for viewing history of all support interactions with researchers"
does RT does this?
Can this is be linked to our email list account in some way?
Need a way to make sure we're not spamming things, missing things, and that we're developing a relationship that evolves over time.

[2018-01-22 23:16] vlraymond opened #6 "arcticdata.io improvements"
### Thoughts from a fresh pair of eyes
- [x] move "Features of..." to top (above news, if we aren't going to post news all the time)
- [x] post new "news"
- [x] remove advert for Training and Outreach Coordinator
- [ ] picture above ACADIS gateway - not sure why that is there? thematically similar? different geographic region?
- [ ] work on spacing for footer: 1. white space, 2. reassess logos (do

[2018-01-23 16:58] vlraymond opened #7 "draft external-facing FAQ for arcticdata.io"
### Existing INTERNAL (data-team only) FAQ:

- https://nceas.github.io/datateam-training/using-rt.html#other-faqs
- https://github.nceas.ucsb.edu/KNB/arctic-data/blob/master/datateam/How_To/RT/email_templates.md
- https://nceas.github.io/datateam-training/reference/pi-faqs.html
- https://nceas.github.io/datateam-training/reference/email-templates.html

### New EXTERNAL (user-facing) FAQ
[Draft use

[2018-01-23 17:05] vlraymond opened #8 "training on how to query the ADC"
I want to be able batch search multiple NSF award #s to see if the data from existing awards is in ADC

## From Jeannette:
Check out the intro to Solr chapter in our training manual: https://nceas.github.io/datateam-training/introduction-to-solr.html

## From Chris
### In browser:
#### Background:
- Solr is a web-based indexing system
- The Lucene text-based library, however Solr is the web-based

[2018-01-23 18:27] vlraymond opened #9 "non-event outreach activities"
- [ ] Arctic Yearbook 2018 call for abstracts [link](https://www.arcticyearbook.com/images/Pdf/AY2018-Call-for-Abstracts.pdf)
"The deadline for abstracts is March 1, 2018.
Notce of acceptance will be provided on March 15, 2018. Articles must be submitted by June 15, 2018. Publication is planned for October 2018. We also welcome proposals for commentaries (1-3 page opinion pieces) and briefing note

[2018-01-23 19:05] vlraymond opened #10 "create Outreach /Training content for new submission process"
- [ ] draft plan for content, including
- [ ] screencast
- [ ] user docs
- [ ] press release highlighting major / high level changes

from Chris:
"I’m liking the idea of developing the documentation in .rst format in github and then using a readthedocs sphinx build to publish a versioned user guide (similar to what Dave is doing with the DataONE documentation)."

http://docutils.sourceforge.net/rs

[2018-01-23 19:10] vlraymond opened #11 "Explaining Error Messages on arcticdata.io"
Purpose: Explain all error messages in public forum for user support. Should be linked to FAQ  or other support content in arcticdata.io

##Error messages on arcticdata.io
Error:
"Whoops!
An error occurred. Please check the list of errors below:
Please provide a person's first name, last name, and role, or an organization name and it's role.
Please provide a party entry with a 'Creator' role."
Exp

[2018-01-23 19:16] vlraymond opened #12 "running list of examples of cool outreach"
- [ScienceOpen Advent Calendar 2017](http://blog.scienceopen.com/2017/12/scienceopen-advent-calendar-2017/)
- [Matteo Farinella science comic on Chaos in the Brickyard](https://massivesci.com/articles/chaos-in-the-brickyard-comic-matteo-farinella/)
- [responsibledataforum-created zine](https://www.etsy.com/listing/537835595/informtransform-zine)
- [the wired guide to digital security](https://www.

[2018-01-23 19:17] vlraymond commented on #6
links to ticket for FAQ (issue #7) and ticket for explaining error messages (issue #11)

[2018-01-23 19:21] vlraymond opened #13 "Acronyms list for user support"
linking to FAQ (issue #7), explaining error issues (issues #11)

Purpose: have a list of acronyms used in support documentation or that are useful for interacting with ADC.

doi - digital object identifier
eml - ecological metadata language, read more at https://en.wikipedia.org/wiki/Ecological_Metadata_Language
sid
urn -
uuid - universally unique identifier

[2018-01-23 19:26] vlraymond opened #14 "advertising Y3 training / outreach events"
also captured in the [following spreadsheet](https://docs.google.com/spreadsheets/d/1OiSIzkVsPvorFo9G_ZFqf7EVdYY0vDKd7o9S4_O0XGs/edit?pli=1#gid=812369282) in the "communication" tab:

listed in order of deadline:

- [ ]  Call for Contributions Northern Notes Spring 2018
Calling for contributions for the next issue of Northern Notes, deadline April 1, 2018. Contributions may be sent to either Ann C

[2018-01-23 19:27] vlraymond commented on #8
from Chris:
After our quick walkthrough of Solr yesterday, I wanted to point out the official documentation in case you need to look up the details: http://archive.apache.org/dist/lucene/solr/ref-guide/apache-solr-ref-guide-5.2.pdf . This guide is for Solr server admins (installation, setup, etc), but starting on page 241 there is a section called `Query Syntax and Parsing` that has all the gory d

[2018-01-23 20:38] kameyer commented on #3
**Love Data Week Overview**
- Organizing content and activities around themes (instead of days)
- [ ] Telling stories with data
     - Tell us – How is data changing and influencing creativity and storytelling in your community? Share via Twitter thread or send us a blog post.
     - Submit your short-form essay about using data to tell a story (300-600 words) or submit another creative work (visu

[2018-01-24 17:22] vlraymond opened #15 "DMP for ADC"
Contact info:
Stephanie Simms, PhD
Research Data Specialist | DMPTool Product Manager
California Digital Library
University of California

[2018-01-25 17:29] vlraymond opened #16 "ADC social media outreach plan"
Draft ideas here:
[ADC Social Media Outreach Plan](https://docs.google.com/document/d/1Kzl5cyanzUVnCpNrta45ixfI8vrcsO8rv8_uuTZtMN4/edit?ts=5a6a10ed)

- [x] KM to draft
- [x] VLR added ideas
- [ ] AB to approve

[2018-01-25 23:18] vlraymond commented on #3
new issue created that connects to this - ADC social media outreach plan Issue #16

[2018-01-25 23:26] vlraymond commented on #1
Some drafts:
[flyer_POLAR2018_8.pdf](https://github.com/NCEAS/arctic-data-outreach/files/1666027/flyer_POLAR2018_8.pdf)
[flyer_POLAR2018_6.pdf](https://github.com/NCEAS/arctic-data-outreach/files/1666036/flyer_POLAR2018_6.pdf)

[2018-01-25 23:30] aebudden commented on #1
These look good. Do you have editable versions of these that I could markup? Minor suggestions. Though, also thinking about branding - do we want to create a style for future materials?

[2018-01-25 23:43] vlraymond commented on #1
not sure if this will work out ok but I moved copies of the indesign files in to the ADC g'drive, along with images

(https://drive.google.com/drive/u/0/folders/1RAQm3Ged73YQFForw2PThyKy3BeeujNQ)

[2018-01-25 23:51] vlraymond opened #17 "Data Editor release documentation & training"
Needs before release date of 05/14/18
- [x] [press release](https://docs.google.com/document/d/11FRgnponoX_dUX7Q66xOZAjzYupYsKl9a68drPTPIbA/edit#) reviewed and approved by AB, MJ, CJ, LW
- [x] Ensure that PR includes: summary of major changes and enhancements from dev team
- [ ] user-facing documentation live on arcticdata.io including:
- [x] helper text for editor (issue #22)
- [ ] "submission" d

[2018-01-29 20:35] aebudden commented on #1
Need to develop a registration form and add URL to the flyer

[2018-01-29 20:38] vlraymond commented on #1
VR check out the following items:
https://github.com/NCEAS/arcticoptions

[2018-01-29 20:41] vlraymond commented on #10
develop in concert / consultation / coordination with ESS DIVE team

[2018-01-29 20:54] vlraymond commented on #6
to do:
- prioritize this list
 - break this into smaller / bite sized tickets

[2018-01-30 19:29] vlraymond opened #18 "NOAA EDM Workshop"
# Next steps:
- [x] MJ / AB confirm who will attend (VR?)
- [x] ADC person to register (detailed instructions below), reserve lodging, book ticket by 2/23/18 deadline
- [ ] coordinate with Sheekelah on materials to bring / help create

## Registration details
The Registration and Group Travel Request are now open for the NOAA Environmental Data Management Workshop (EDMW 2018), to be held April 23-

[2018-01-30 19:48] vlraymond opened #19 "48th Arctic Workshop"
- [x] VR reach out to organizer to see if a workshop /  demo / training is possible
- [x] regardless, VR submit an abstract by 3/16 (link to [abstract submitted on INSTAAR site](http://instaar.colorado.edu/meetings/AW2018/abstract_details.php?abstract_id=44), can be edited if there are further changes from MJ / AB)
- [x] KM submit abstract poster
- [x] @csjx register by 3/16 http://instaar.colorad

[2018-01-31 19:20] vlraymond opened #20 "ESA 2018 - Inspire talks"
- [x] submit Inspire abstract for ESA 2018 Inspire
- [ ] finalize Inspire talk

[VR draft talk "How to Leave a Trail a.k.a. Effective Data Management"](https://docs.google.com/presentation/d/1ONF4HWU-y8eQB-MomKsyJDl8MPvKwQ8yGAbXGBMKp4U/edit#slide=id.g30f8997908_0_110)

[2018-02-07 18:21] vlraymond opened #21 "Email communication strategy for interacting with PIs"
[Current thinking on this issue lives here](https://docs.google.com/document/d/1ZsOn36ScsMTbJYO2hfSyOIJZKWWRihDZR1-75wcxXCQ/edit)

Workflow:
1. pull .csv of NSF awards from NSF award site
2. compare with ADC submissions per award
3. communicate with PIs according to their relationship with ADC (have submitted in the past, have never submitted before, etc) and the status of their award (recently aw

[2018-02-07 18:31] vlraymond opened #22 "Data Editor - help text"
- add comments and requests / suggestions in [this document](https://docs.google.com/document/d/1zvnXpcdB0jKf3vU4duf8Ci_1lCbJENzfQYGc2pXDc3Y/edit?usp=sharing)

workflow & timeline:
- [x] CEO team drafts new helper text (by Wed. 02/14)
- [x] Data / Support team reviews (by 3/10)
- [ ] AB reviews & further refines ( by 3/30)
- [x] Dev team reviews (by 3/30)
- [x] ticket created & assigned to dev tea

[2018-02-07 18:36] vlraymond commented on #17
from Chris:
"I’m liking the idea of developing the documentation in .rst format in github and then using a readthedocs sphinx build to publish a versioned user guide (similar to what Dave is doing with the DataONE documentation)."

http://docutils.sourceforge.net/rst.html

[2018-02-07 18:36] vlraymond commented on #10
closed, is old /  duplicate  now covered by #17

[2018-02-07 18:36] #10 closed

[2018-02-07 21:30] vlraymond commented on #6
ideas from ADC meeting:
- refresh "features", they're a bit stale (doesn't include prov, quality engine, and now the data editor)
-

[2018-02-08 00:57] laurenwalker commented on #17
I also like BookDown, which we looked at in our meeting today. It seems
more lightweight and user friendly than sphinx docs.

On Wed, Feb 7, 2018 at 1:36 PM, vlraymond <notifications@github.com> wrote:

--
National Center for Ecological Analysis and Synthesis (NCEAS)
University of California Santa Barbara (UCSB)

[2018-02-08 23:05] vlraymond commented on #22
<img width="1178" alt="screen shot 2018-02-08 at 10 09 35 am" src="https://user-images.githubusercontent.com/7627276/36003098-677bbd14-0ce1-11e8-8990-6719995f71ab.png">

[2018-02-08 23:05] vlraymond commented on #22
<img width="1174" alt="screen shot 2018-02-08 at 10 24 13 am" src="https://user-images.githubusercontent.com/7627276/36003126-85930d7a-0ce1-11e8-9052-edc6902bab7c.png">

[2018-02-08 23:34] vlraymond commented on #7
FAQ and helper text should link to EML FAQ
https://knb.ecoinformatics.org/#external//emlparser/docs/eml-2.1.1/eml-faq.html

[2018-02-08 23:51] vlraymond commented on #22
needed, from Steph:
"I think it would be helpful to have a very early-on instruction written somewhere about how to add attributes to your data files (clicking the describe button), because this step is separate from the dataset description fields that appear immediately below the files. I hope that makes sense how I've described it.
the workflow of (1) upload your files, (2) fill out the dataset

[2018-02-09 00:27] vlraymond opened #23 "Video guides"
Topic suggestions

- Attributes
- "Describe" button in "Add files"

[2018-02-09 18:25] vlraymond commented on #18
I reached out to Sheekela today and looks like she is on leave until 3/5.
I'll reach out to her after then & touch base.

[2018-02-10 00:13] vlraymond opened #24 "Training bookdown for ADC"
bookdown - https://www.rstudio.com/resources/webinars/introducing-bookdown/

Can we do gitbook?
https://www.gitbook.com/editor

[2018-02-11 21:48] mbjones commented on #24
What would the advantages of that be?  The nice thing about bookdown is that it is very easy to embed and execute R code as part of the tutorial docs.  And there's really nice preview support in RStudio.  Does gitbook support RMarkdown files, or just Markdown files?

[2018-02-12 17:10] vlraymond commented on #24
Yes, you're right Matt. I watched a tutorial on Bookdown on Friday and came to the same conclusion.

[2018-02-12 18:43] vlraymond commented on #22
@aebudden @mbjones
what is the best workflow for this? I have started drafting new helper text for the Data Editor release but it should have input from everyone on the team.

proposed workflow & timeline:
- [ ] CEO team drafts new helper text (by Wed. 02/14)
- [ ] AB reviews & further refines (by Fri. 02/16)
- [ ] Data / Support team reviews (by By Wed. 02/21)
- [ ] Dev team reviews (by By Wed. 0

[2018-02-12 19:19] vlraymond commented on #2
closing ticket for duplicate #19 (which is more up to date)

[2018-02-12 19:19] #2 closed

[2018-02-12 21:49] laurenwalker commented on #22
I think this looks like a good workflow. The repository for the eventual technical Github issue would be MetacatUI [https://github.com/NCEAS/MetacatUI](https://github.com/NCEAS/MetacatUI)

[2018-02-13 23:23] vlraymond opened #25 "APECS Online Conference May 16, 2018"
- [x] VR add to conference schedule
- [x] [draft abstract](https://docs.google.com/document/d/14uax9Pb5CURjqahBIn9f-7dBuYDiIylErdxgPt2_5kQ/edit)
- [x] feedback from KM, AB, MJ - please add comments to g'doc as suggestions or comments
- [ ] submit abstract by 3/9/18

**Call for Abstracts is 3/9/18** (was extended from 3/2)
Abstracts should be written in English (please contact info@apecs.is if you

[2018-02-14 00:07] vlraymond commented on #2
VR purchased flights 2/13
still needs to
-[ ] book lodging by 3/1
-[ ] book shuttle den to boulder to den

[2018-02-20 17:07] vlraymond commented on #1
can we circle back to this flyer this week? I'd like to have it finalized and start publicizing the workshops asap. Needed next steps:
- [ ] design review
- [ ] design finalized
- [ ] question posed by Amber - do we need a registration form with URL on flyer?

[2018-02-20 22:29] vlraymond opened #26 "45th Alaska Anthropological Association annual meeting"
March 21 - 24, 2018
Anchorage, AK

- [x] MJ / AB give greenlight for conference
- [x] VR to get talk moved to a more appropriate session
- [x] VR register, flights, hotel
- [x] VR prep slide deck using reading listed below and guidance from MJ / AB
- [x] VR get feedback from MJ / AB on deck.

[draft slide deck](https://docs.google.com/presentation/d/1BwTl5oMSmHwbtCL4__oLPxyC9PKDmeaCymWoN6lg9U4/edi

[2018-02-22 18:35] #3 closed

[2018-02-22 18:54] vlraymond commented on #18
Sheekela missed our meeting time, I will try to reschedule

[2018-02-22 22:06] vlraymond commented on #19
VR booked flight, booked hotel.
VR still needs to :
1 - submit abstract for poster (by 3/16)
2 - register for conference (by 3/16) - http://instaar.colorado.edu/meetings/AW2018/registration.html
3 - book shuttle to Boulder

[2018-02-22 22:10] vlraymond commented on #1
Kathryn did some create layout clean-up on this poster. https://drive.google.com/open?id=1wnCDHg-Zui87EHgjfoHuPldge5TnHE47

[2018-02-22 22:44] aebudden commented on #16
Just added a couple of questions to the document.

[2018-02-22 22:48] vlraymond commented on #18
The organizers published the attendees list - 95% attendees are NOAA people, some really high level folks attending!

I am not sure this is the right fit for us - doesn't look like much in the way of an NSF connection in terms of an outreach activity.

NOAA EDM 2018 attendees list:
https://docs.google.com/spreadsheets/d/1SjK1kF9rkT0zzZO_KGgQs_tVjIZAe_1KNVP5tZzlMgc/edit#gid=0

[2018-02-22 23:12] aebudden commented on #1
Re the poster some comments:
- Not a fan of the thick blue borders around the title and the learn more
- Opening para: singular training?
- Box 1: Typo Management
- Box 3: typo Publishing
- Footnote: Typo National

Do we have the design files for the Data Fellow Flyer? It might be useful to replicate some of that styling for branding / consistency?

[2018-02-23 16:42] vlraymond commented on #1
Pinged Lauren on slack this a.m. to see if she made those fliers and if we could use her files as a template.

[2018-02-23 18:36] vlraymond commented on #24
[bookdown-demo.pdf](https://github.com/NCEAS/arctic-data-outreach/files/1752748/bookdown-demo.pdf)

[2018-02-23 18:39] vlraymond commented on #24
^^^ draft as of 2/23/18.

Process so far:
combing through existing content on training.arcticdata.io
copying, combining, collating in to content for the book

next steps:
refining and expanding existing content
creating new content

[2018-02-23 20:45] vlraymond commented on #24
[bookdown-demo.pdf](https://github.com/NCEAS/arctic-data-outreach/files/1753105/bookdown-demo.pdf)
latest

[2018-02-23 20:46] vlraymond commented on #24
determine:

- intended audience
- R users / technical users

[2018-02-26 20:55] #16 closed

[2018-02-26 20:57] vlraymond commented on #7
VR make this into a .md and then share out

[2018-02-26 20:57] vlraymond commented on #7
add table of contents

[2018-02-26 21:06] vlraymond commented on #26
reading: https://www.sesync.org/system/tdf/resources/qualitative_data_sharing_and_re-use_white_paper.pdf?file=1&type=node&id=2536&force

approach:
offering a service
data resources
available forward of re-use of information
start a dialog, how to be helpful

consultation from CSH

[2018-02-26 21:07] vlraymond commented on #25
VR add to schedule

[2018-02-26 21:11] vlraymond commented on #25
consider video?

[2018-02-26 21:30] vlraymond opened #27 "SB Data Science training - logistics"
logistics:
- [x] sent to email to nceas@nceas.ucsb.edu for booking rooms for dates: 8/13 - 8/17
(large conference room, breakout space, lounge access). NB: VR guessed on 20 ppl
- [x] hotel block booked for 24 ppl
- [x] advertise for applicants
- [x] select applicants
- [x] notify applicants
- [ ] coordinate their travel with Ginger
- [ ] logistics details sent out to applicants, posted on training

[2018-02-26 22:27] vlraymond commented on #27
-  rooms confirmed to be booked with Ginger, although she has outstanding question about "lounge access" for amber.

[2018-02-28 00:08] vlraymond commented on #26
The event organizers had put us in a session on "New approaches to data.. in Archaeology'. I'm working with them on finding a better fit. They're being amazingly receptive.  I have proposed the following as an alternative

[2018-03-01 20:35] vlraymond commented on #24
other bookdowns in our NCEAS ecosystem that could be good resources
- https://nceas.github.io/datateam-training/using-git-in-rstudio.html
- https://nceas.github.io/sasap-training/materials/reproducible-analysis-in-r/

[2018-03-02 20:34] vlraymond opened #28 "SB Data Science Training - application process"
## Draft docs
* [2018 Application process - Google Form](https://docs.google.com/forms/d/1nr3xLVSZjIwrksq6wr1ycW6DuJ1K3kgdkhw_I1mRMfY/edit)
* [advertisement plan](https://docs.google.com/spreadsheets/d/1gDSHPNWmTtqZhYnZ7NqzBGHjaoHjqNFpQ-CMiuA3qRc/edit#gid=0)

## To dos
- [x] look at SASAP applications and see if there is good content there (3/5/18)
- [x] Determine timeline... sooner rather than la

[2018-03-02 23:34] vlraymond opened #29 "AOS poster abstract"
[draft](https://docs.google.com/document/d/19NRpu_7HDPnshYZ92cIlig5NRw5z63hHOfX9Mfy3eEc/edit)
[poster instructions](http://www.arcticobservingsummit.org/aos-2018-poster-abstracts-submission-form)

due 3/30/18

[2018-03-05 18:47] vlraymond commented on #27
q: can we brand this training?

random ideas, off the dome -

Arctic Data Center's Summer Data Science Bootcamp
Arctic Data Center's DataSciFest
Arctic Data Center's Data Science Brrrush-up
Arctic Data Center's Field Kit in Data Science
Arctic Data Center's Data Science Survival Skills

[2018-03-05 18:54] vlraymond commented on #28
can there be an email designated for this and subsequent activities like this -
training@nceas.ucsb.edu
or
outreach@nceas.ucsb.edu
or
arctic@nceas.ucsb.edu

[2018-03-05 19:05] vlraymond commented on #28
![screen shot 2018-03-05 at 11 00 20 am](https://user-images.githubusercontent.com/7627276/36994172-19847442-2065-11e8-9348-71ada296964f.png)

[2018-03-05 19:14] vlraymond commented on #28
![screen shot 2018-03-05 at 11 11 33 am](https://user-images.githubusercontent.com/7627276/36994549-532db7ca-2066-11e8-982d-e19605b7a64d.png)

[2018-03-05 19:34] mbjones commented on #28
@vlraymond Your question about email lists:  we created `community@arcticdata.io` for the last training for announcements and general community notifications.  See https://groups.google.com/a/arcticdata.io/forum/#!forum/community.  What kind of mailing list were you looking for?

[2018-03-05 19:39] vlraymond commented on #28
Last year's Data Science Training application listed Amber's email address as the destination for people to send application materials to.
Likewise, in the Data Science Fellowship application process, the flyers list Jesse's email address.

I'd prefer to use community@arcticdata.io (or something like that) for these types of application situations.

[2018-03-05 19:46] mbjones commented on #28
Ok, I see.  Don't use community@arcticdata.io, that goes out to hundreds of researchers.  We can create another address for applications if needed.  What would be best is if the application form they submit can handle all of the materials that we ask for so that there isn't a separate email required.  LAst time we were working last minute and couldn't get that to work because Google Forms doesn't

[2018-03-05 20:03] vlraymond commented on #6
Kathryn waiting for text from Synthesis group

[2018-03-05 20:18] vlraymond commented on #28
Timeline:
Application out by Friday
Applications due by: March 30th, 3018
Successful candidates notified by: April 16, 2018

[2018-03-05 20:28] vlraymond commented on #28
adda Q: "which of the following do you use in your daily workflow" (SASAP Q to add)

[2018-03-05 20:39] vlraymond commented on #24
general guidelines:
- short (no longer than 1 hr of content)
- make things general / generic when possible

known issues:
- how to manage content-specific datasets   for training examples

[2018-03-05 20:46] vlraymond commented on #17
- why this is cool
- why it helps with data management
-  new editor is a large departure from our existing one.

VR look in site visit PPT looking at new and old features (created by Lauren)

[2018-03-05 20:49] vlraymond commented on #14
closing, will re-create separate tickets for different training events needing advertising

[2018-03-05 20:49] #14 closed

[2018-03-05 20:50] #20 closed

[2018-03-05 20:54] vlraymond commented on #15
"Hi Vanessa and Kathryn,

We successfully launched the new version of the DMPTool this week and I'm finally circling back to assist with creating an Arctic Data Center template. Because of the way that template ownership works in the tool—Arctic Data Center will be listed under NSF templates—I think it will be easiest for me to add the template for you based on the questions and guidance you defin

[2018-03-05 20:57] vlraymond commented on #15
Team will need to do the following:
0.5 get blank DMPTool (text file), translate in to questions etc for ADC
1. internal ADC review
2. NSF (Marc and Anna) review
3. send to DMPTool

"Template for putting data in to the Arctic Data Center"

[2018-03-05 20:59] vlraymond commented on #15
keep in mind - Researchers will likely see their own institution-specific support, we will need to add in generic ADC-support

[2018-03-05 21:10] vlraymond opened #30 "ESA 2018 5-hr Workshop"
- pre existing content
- 5 hrs
Next steps:
- [ ] AB to provide links to content in April 2018
- [ ] ADC team can help promote
- [ ] emphasize this is an entry level training for data management

[2018-03-05 22:41] vlraymond commented on #28
update: G'Forms now allows upload of docs :>

[2018-03-05 22:59] mbjones commented on #28
@vlraymond ok, good.  And did you confirm that that includes *outside* of the listed collaborators on the form?  They supported it last time, but only for people that had permission to edit the form questions.  So we need it for non-privileged submissions.  Awesome if they support it. Do you have a link describing their changed feature?

[2018-03-05 23:07] vlraymond commented on #28
https://sites.google.com/site/scriptsexamples/home/announcements/google-forms-file-upload-feature
"*EDIT*: Since 7/10/2017, *all users with a Google account (G Suite and
Gmail)* can now upload files to a Form, and not only people from the same G
Suite domain."

On Mon, Mar 5, 2018 at 2:59 PM, Matt Jones <notifications@github.com> wrote:

--
*
Vanessa Raymond
Outreach and Training Coordinator
Arcti

[2018-03-06 00:12] vlraymond commented on #1
VR got files from Thomas and added them to the [ADC g'drive Printables folder] (https://drive.google.com/open?id=1VPGD9CV1ntrjAEdopzpAqk4tA7ZRPkTn)

[2018-03-06 00:20] vlraymond commented on #1
VR emailed Anja Schilling w question about room size of Schwarzhorn A

[2018-03-06 17:08] vlraymond commented on #1
Looking at making flight and hotel arrangements and registration for OSC and AOS. We should put out heads together and make a travel plan before Amber leaves next week.

Full Registration: 750 CHF ($799 USD)
Hotel (6/17 to 6/24): 1100 CHF ($1172 USD)

![screen shot 2018-03-06 at 9 01 10 am](https://user-images.githubusercontent.com/7627276/37046538-6f84d09a-211d-11e8-90f3-8b9d77a3ce0e.png)

![scre

[2018-03-06 19:21] aebudden commented on #25
Some comments added to the abstract. @mbjones might have additional perspectives.

[2018-03-06 19:47] mbjones commented on #25
Comments and revisions added.  Looking good if you address those.

[2018-03-06 21:27] vlraymond commented on #22
remember to add in copy person instructions provided by Irene

[2018-03-08 05:05] mbjones commented on #25
Seems fine because they state that the contributor maintains copyright, and
they will just redistribute for the conference purposes.

Matt

On Wed, Mar 7, 2018 at 3:03 PM, vlraymond <notifications@github.com> wrote:

[2018-03-08 21:43] vlraymond commented on #1
@aebudden this is the latest draft of the POLAR2018 flyer, using the Data Science Fellowship advert as a template.
I have added a .pdf here, I am experiencing some g'drive syncing issues so will update this ticket with the .indd files once I can get g'drive to sync properly :/

[ADC_outreach_POLAR2018_16.pdf](https://github.com/NCEAS/arctic-data-outreach/files/1794920/ADC_outreach_POLAR2018_16.pdf

[2018-03-09 02:41] aebudden commented on #28
@vlraymond Going through the form now and have some suggested edits - not really user friendly for editing. How do you want the feedback? Mark-up hard copy?

[2018-03-09 02:56] aebudden commented on #28
Comments in the attached. [2018 Data Science Training Application Form - Google Forms_MarkUp.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6b8f2122cf6d00119ba36c/125516c66e82c728ace21e0d46bac4cb7bc2a7a89be8ff70a754f59a2a4367473b05aa25798be4689e526b0d060c1fe8180701548aa6cb76b6ab2c07d5035cb1847d292b846052c3c5d35de464fa32975dc5f4e3d01993ac2f2ff58ede493817574a8bac5967a89e1

[2018-03-09 03:13] aebudden commented on #28
I've made a number of comments to the google doc.  Did this asynchronously with the form and so the two will need to be cross checked.

[2018-03-09 18:39] vlraymond commented on #28
Thanks Amber. In response:

**Intro Section** training.arcticdata.io readiness
Yes, Agreed. I have a [pull request](https://github.com/NCEAS/arctic-data-training/pull/4) in to @mbjones for the new training's agenda page. I have never used that system before (is it Jekyll?) so most likely I will need to revise my PR after MB's review.  That was sort of a stab in the dark.

I'll add that I think we

[2018-03-09 18:44] vlraymond commented on #27
Hotel booked for 24 participants at the Upham

[2018-03-12 18:28] #25 closed

[2018-03-12 18:56] vlraymond opened #31 "AGU Fall Meeting 2018"
[AGU session proposals](https://fallmeeting.agu.org/2018/session-proposals/) due 4/18/18

[2018-03-12 19:06] vlraymond commented on #31
Panels
Enjoy a higher level of interaction with presenters. Panels consist of up to eight (8) individuals who will respond to questions from a moderator and audience. Panels could consist of full panels, include a 5-minute talk from each panelist, or have the opportunity for extended Q&A alongside other attendees.

### Idea:
Challenges to Arctic Data Management
comprised of PI to graduate student

[2018-03-12 19:21] vlraymond commented on #29
idea:
modified 48th IAW poster with an AOS leaning

[2018-03-12 21:50] vlraymond commented on #28
Ok edits from AB's comments are actually in now.
A few things to note:

<img width="667" alt="screen shot 2018-03-12 at 2 41 48 pm" src="https://user-images.githubusercontent.com/7627276/37311177-944d8184-2603-11e8-82c9-63210e703038.png">

[2018-03-13 02:53] aebudden commented on #22
Can we change the order on the todo? I can't review by 3/10. Perhaps the support team can review first and I will review after.  I will put it on my flight todo list for the weekend.

[2018-03-13 02:56] aebudden commented on #26
I started to review the document. I can make some design comments however it's hard to comment on the flow without knowing the accompanying 'story'. Can we set up a call for you to talk through this presentation / story?

[2018-03-13 03:55] aebudden commented on #1
Uploaded a new flyer - there were a few things slightly out of alignment. When tidying up, I noticed some inherited issues too so cleaned them at the same time (different box sizes etc). I changed the font type in the lower section as I felt the uppercase titles were hard to read - this might not be better. Few other minor edits.
Note: I had to download the full polar folder since to get the linke

[2018-03-13 18:40] vlraymond commented on #26
Sounds good Amber, whenever works.

[2018-03-13 18:56] vlraymond commented on #29
AOS (part of POLAR2018) still has poster submissions open, due 3/30.

Can we take Kathryn's poster submission for 48 IAW and rework it to be targeting a circumpolar observational network type of angle (the goal of AOS)?
@kameyer @aebudden

[2018-03-13 19:25] vlraymond commented on #22
Sat down with Jesse, Mitchell, Irene, and Kathryn today and went over the helper text in detail. It's in pretty clean shape right now. Remaining points that are up for debate have comments. I have some final edits for sanity/consistency to do however this is ready for you @aebudden  whenever you can.

I'll also notify the dev team so they can double check language for consistency with development

[2018-03-13 19:56] vlraymond commented on #1
It's beautiful.
Making this our "template" for flyers going forward.
Apologies about linking images issues, will clean up my act.

I think this is now ready to go with one remaining question: Should we be directing people to training.arcticdata.io, arcticdata.io/training, or just arcticdata.io

Next step:
- Resolve url question for training content
- VR draft a list of Arctic-specific places to bl

[2018-03-13 19:57] vlraymond commented on #18
3rd attempt to sync with Sheekela planned for Thursday 3/15.

[2018-03-13 19:59] vlraymond opened #32 "ADC swag"
re-order / new swag needs to be received in hand in advance of June and August training events (POLAR and ESA).

### send to printer by 5/30/18
ADC team to look over existing ADC swag and determine:
- [ ] swag budget
- [ ] what to re-order (and when, looking at calendar of events)
- [ ] what to update (new content, new design)
- [ ] propose new swag items should be purchased (small button pins, fa

[2018-03-14 16:27] vlraymond commented on #28
- tiny: www.tinyurl.com/ADC2018
- idea afoot to move the app deadline to after Easter / spring break time
-  [2018 DataScienceTraining flyer](https://drive.google.com/file/d/126fV8VmjJWeazLIuGYRmfV7IAKLwXSIP/view) **NB:** this was made before @aebudden upgraded our flyer template so I'll remake this today. So consider this a sneak preview.
- @kameyer wants to post about the data science training i

[2018-03-14 16:35] vlraymond commented on #28
MB says we can publish this seeing as AB has given it her seal of approval.

[2018-03-14 17:40] kameyer commented on #28
The trainings webpage has been updated, and the application link is officially live online: https://arcticdata.io/2018-data-science-training-for-arctic-researchers/

[2018-03-14 18:43] mbjones commented on #28
🎉 🎉 🎉
Thanks.  Can you turn the 'Click to Apply' header into a green button using our normal button style, probably with 'Apply Now' as the button label?  As it is now its not obvious that the header is clickable.  There should be CSS support for this style already in the site.  @laurenwalker or @csjx could probably provide a pointer as they've set up similar buttons. Thanks.

[2018-03-14 20:24] aebudden commented on #28
@kameyer Button now green.
@vlraymond  The link to the form requires people to be signed in to google to complete the form. Is this bc of the upload requirement? Do we see this an an impediment to getting applications? Does everyone have a google account these days?

[2018-03-14 20:26] aebudden commented on #28
@vlraymond I see that you have checked off the flyer. Can you link that to this ticket?

[2018-03-14 20:30] aebudden commented on #1
@kameyer Can you add this to our training page?

[2018-03-14 20:31] aebudden commented on #30
@kameyer Can you add this to our training page?

[2018-03-14 20:35] aebudden commented on #1
For now, lets only share training.arcticdata.io with participants and not yet as a recruitment venue. Lets use arcticdata.io/training for that. In the case of POLAR 2018 - if there is not a POLAR 2018 page to link to, we should create one on arcticdata.io as we did for the summer workshop. In which case, you will need to change the bottom URL in that flyer.

[2018-03-14 20:36] aebudden commented on #26
Can you identify times next week (early in your day bc I will be in Europe) that work for you and Matt. Once I have a better idea of my schedule I can select one and set up a meeting.

[2018-03-14 20:45] kameyer commented on #1
It looks like the training is listed here on the POLAR18 website:
https://www.polar2018.org/side-meetings-osc.html

[2018-03-14 20:46] vlraymond commented on #28
I mentioned in the convo above that I had made one (.pdf attached), but need to re-make it today using your latest design tweaks as a template. So it's a half check :>

Is the deadline for applications ok to be pushed back to 4/6?

idea afoot to move the app deadline to after Easter / spring break time
2018 DataScienceTraining flyer NB: this was made before @aebudden upgraded our flyer template so

[2018-03-14 20:50] aebudden commented on #30
Wksp information not yet online so copying some details below. We do not need to create an arcticdata.io page for this one, but rather link to the ESA page when open since that is how people will register. In the interim, we can put up a summary and indicate "full details coming soon" or some such.

WK 5: "Managing Ecological Data for Effective Use and Re-Use: A Workshop for Early Career Scientist

[2018-03-14 20:51] vlraymond commented on #28
@aebudden  yes, it's definitely a fair point, and assuming everyone has google isn't a foolproof plan.
If we drop in a contact email, which you mentioned, we can perhaps help the few we have trouble here.

[2018-03-14 20:56] vlraymond commented on #1
they are all listed there however we can't easily link to them

[2018-03-14 20:56] aebudden commented on #1
Lets create a page where we can provide more full information and then link to the polar2018 one

[2018-03-14 21:00] aebudden commented on #28
How does pushing back the deadline impact our review timeline? We would still want to get decisions out to people asap. I know @mbjones is OK with a short application period however I think providing the extra time is appropriate provided it doesn't impact decision date. i.e. - we'd have less time to turn things around.

[2018-03-14 21:01] vlraymond commented on #26
Monda 3/19
8am Pacific
9am Pacific
10am Pacific (MJ has a hold for NCO team meeting)
11am Pacific

Tue 3/20
8am Pacific (MJ has a hold for MDC)

Wed 3/21
8am Pacific
9am Pacific (MJ has a hold for MDC)

[2018-03-14 21:01] aebudden commented on #28
Did we get an email? I think @mbjones was going to create it? He's off sick today so maybe check in with Nick Outin

[2018-03-14 21:04] aebudden commented on #26
OK, I have an evening thing on Monday so 8am is the best option. or Wednesday at 8am - I don't yet have my schedule for that day so it might be more risky.

[2018-03-14 21:05] vlraymond commented on #28
email addy - I don't know what the resolution of that discussion was. Did you agree on training@? If so I can follow up with Nick today.

application due date - at the end of the day it's up to the two of you. I think giving people time to submit an application is as important as giving them time to plan to travel for a week.

[2018-03-14 21:06] aebudden commented on #26
Let's use: https://zoom.us/my/aebudden. I send out a calendar invite to you, Matt and Kathryn. Feel free to invite others.

[2018-03-14 21:43] vlraymond commented on #28
Email blurb for sending out to listservs
///

subject:
Arctic Data Center's 2018 Data Science Training

body:
Arctic Data Center's 2018 Data Science Training
August 13 – 17, 2018
Santa Barbara, CA

Join the [Arctic Data Center](arcticdata.io) in Santa Barbara, CA for the [2018 Data Science Training for Arctic Research](arcticdata.io/training/). This 5-day workshop will provide Arctic researchers w

[2018-03-14 23:48] vlraymond commented on #28
updated flyer using Amber's template: [PDF](https://drive.google.com/file/d/12JH35joe3DIptMKyrErV-d4M8fSACtMB/view) | [INDD](https://drive.google.com/open?id=1Kh-PefkBPnrmN0PTBSQn4SEojcYRqfPk)

[2018-03-15 17:05] kameyer commented on #1
Webpage Live

[2018-03-15 19:20] vlraymond opened #33 "decide how to support Polar Data Planning Summit"
## Pertinent links:
[Polar Data Planning Summit](https://arcticdc.org/meetings/conferences/polar-data-planning-summit)
[IARPC posting about Polar Data Planning Summit](https://www.iarpccollaborations.org/members/events/10657)

## Details
22 - 24 May 2018
University Memorial Center
University of Colorado Boulder
Boulder, Colorado  USA

[2018-03-15 22:21] kameyer commented on #30
Added to the training page

[2018-03-15 23:12] csjx commented on #33
Hi @vlraymond - Thanks for this. I recently spoke to Matt about this since he's been in contact with Peter Pulsiver about it.  I will put it on my calendar since it's right here in Boulder, and I'll send an email to Peter and Heidi about us attending.  I'll cc: you and Matt and Kathryn, and we can discuss who all will go.

[2018-03-16 17:24] vlraymond commented on #19
KM and CJ have submitted a poster for this.

VR has drafted this [abstract](https://docs.google.com/document/d/1_bDYuwpZ1TCreMhP-6N_yWYZF-09jHcwjjgh7RdPsSo/edit) for a talk on Arctic Data Management. It has the bones of the abstract @mbjones and @aebudden reviewed for APECS talk, with a section added in documenting the historical challenges to data management for Arctic research. NB: it has footno

[2018-03-16 19:13] vlraymond commented on #22
from CJ & LW:
"first sentence gets listed, then clickable "..." goes to remaining part of the text"

[2018-03-18 09:46] aebudden commented on #19
Some poster feedback:
- I think the icons are too heavy for the accompanying titles. Can the lines be made thinner?
- Can the QR code be place more as a footnote vs as a primary part of the poster since in itself, it is not giving information?
- Is this the title that was submitted? Otherwise, we likely want to update the title
- Maybe have the data objects count as  677K vs 677,000 so that the fo

[2018-03-19 15:06] kameyer commented on #19
ADC Poster_March2018 is now available in outreach folders (https://drive.google.com/drive/folders/0B_TUemdsPIhIbktZS2NteWplbms)

[2018-03-19 19:25] vlraymond opened #34 "July 2018 Data Fellows - applicant communiques"
JG asked VR to email all "first cut" applicants that they were not chosen.
Not sure if this is my domain or not but I will try to work it in this week.

Email content VR used:
Subject: Thank you for applying to the NCEAS Data Science Fellowship
Body:

[2018-03-19 20:49] vlraymond commented on #22
VR looked at EML language and dropped pertinent quotes on role, role type in to the document. Not sure how to best describe these roles, may need Data team or Dev team to take lead here.

[2018-03-21 10:04] aebudden commented on #31
Challenges to Arctic Data Mgmt sounds like a great topic for a session. Panel sounds good though it maybe harder to get accepted. In which case, does it default to an oral? We will need to include people from outside the ADC so we should start planning this now. Also, we need to submit a workshop to this.

[2018-03-21 10:05] aebudden commented on #31
https://fallmeeting.agu.org/2018/session-proposals/

[2018-03-21 17:35] vlraymond opened #35 "POLAR2018 - advertising workshops"
(this is a new/ separate ticket. For general POLAR2018 discussion that took place prior to this ticket's creation, see #1 )
Ok if the flyer is approved I want to start getting the word out about this. I think once the 3/30/18 deadline is passed for the data science training applications, since we're flooding bandwidth with that given it's a tight turn around. So starting 4/1 I'd like to start a pu

[2018-03-21 18:13] vlraymond commented on #34
sent denial letters to:

1. Alanna Durkin
2. Andrea Cullinen
3. Ashley Gingeleski
4. Brian Free
5. Brian Grieve
6. Caroline Ajilogba
7.

[2018-03-21 18:14] vlraymond commented on #6
from MJ:

[2018-03-22 00:10] vlraymond commented on #26
Deck has been updated to incorporate feedback from yesterday :>

[2018-03-26 16:51] vlraymond commented on #26
Trip report
VR attended on 3/22/18 and 3/23/18. There were about 100 - 125 (not good at guessing numbers) attendees, from AK (UAA, UAS, UAF) and lower 48 institutions. Attendees were a mix of anthropologists, archaeologists, linguists, museum and library staff, and remote sensing people. Institutions represented included: federal and state agency staff, private firms, non-profits, and academics. A

[2018-03-26 16:54] #26 closed

[2018-03-26 16:55] vlraymond commented on #32
Needs:
Business cards for VR, KM

[2018-03-26 18:59] vlraymond opened #36 "intern/fellow wishlist"
Use this ticket to keep a running list of desired tasks or types of ADC intern or fellow.

- Design intern (create swag, create flyers, create icon collections specific for arctic research and synthesis research, etc)
- Fellow to write scripts and do analysis on/for outreach activities
- social meda intern

[2018-03-26 19:46] vlraymond opened #37 "48 IAW slide deck"
VR to draft and share out to team by Thursday

[draft deck for 48IAW](https://docs.google.com/presentation/d/1oM6CjVlSJ22OQWci9o8HbQMi0MCDkFlVgjUTYesqyc4/edit#slide=id.g3522786a10_0_3)

[2018-03-27 20:19] vlraymond opened #38 "Advertise RFP"
[RFP .doc](https://drive.google.com/open?id=0B7aTdNApBd6zSTJjZThXbVVwekJBWDVxTDhTaEpCNnh5czNJ)
[tracking postings/outreach](https://docs.google.com/spreadsheets/d/188k4sQjA79lcYAjxG5vdfhLv8JWDw7_XRi7N6BwAHBE/edit#gid=0)

## To dos:
- [x] put on arcticdata.io
- [x] put on NCEAS site
- [x] tweet from @arcticdatactr
- [ ] Data highlight on Synthesis WG to coincide with RFP
- [ ] reminder tweet from @

[2018-03-27 21:21] vlraymond commented on #29
Ok @aebudden @mbjones so I took a stab at this today and I think the best fit for a poster submission to Arctic Observing Summit (AOS) 2018 (part of POLAR2018), is the permafrost working group work, which, if I understand correctly, is an Arctic region-wide attempt to synthesize carbon flux data.

See [draft abstract](https://docs.google.com/document/d/19NRpu_7HDPnshYZ92cIlig5NRw5z63hHOfX9Mfy3eEc/

[2018-03-28 16:08] vlraymond opened #39 "APECS Int'l Online Conference - prep for talk"
May 16th, 2018

Abstract accepted.

*
_email from organizers_

[2018-03-28 22:37] vlraymond commented on #37
@aebudden @mbjones
So I think this draft deck for the Int'l Arctic workshop talk is ready for some feedback from you two.
I want to be able to feature the work the Synthesis WG is doing, as I think that's a good usecase for data re-use that I want to talk about.

The talk is 12 minutes long, so I basically have a few slides of "set-up / premise" a few  slides on ADC, and then a few slides on Synth

[2018-04-02 16:18] vlraymond commented on #37
http://instaar.colorado.edu/meetings/AW2018/program/AW2018-program.pdf

[2018-04-02 16:18] vlraymond commented on #37
http://instaar.colorado.edu/meetings/AW2018/program/AW2018-program.pdf

[2018-04-02 16:23] vlraymond commented on #29
did not submit because I didn't feel comfortable doing so without AB or Mj feedback first.
closing ticket

[2018-04-02 16:23] #29 closed

[2018-04-02 16:43] vlraymond commented on #28
We received 48 applications for 24 slots.

What are the criteria for selection?

[2018-04-02 20:01] vlraymond commented on #31
ideas -
arctic focused?
provenance focused?

[2018-04-03 00:05] vlraymond commented on #37
@aebudden @mbjones the deck has been edited incorporating comments from today's call.
One thing that occurs to me is that I mention prov at the the end of the talk, but should probably mention it earlier as well. Let me know if you see a good place to drop it in earlier in the talk.
thanks

[2018-04-03 00:06] vlraymond commented on #28
VR to review and synthesize applicants for MJ and AB by COB 4/3/18, with suggested selection of 24

[2018-04-03 23:57] vlraymond commented on #28
@mbjones and @aebudden there is pretty even split between novices, beginners, competent, and advanced people in the applicant pool. After spending several hours, this is the list I came up with:

[Process document for applicant review](https://docs.google.com/document/d/16vEm2_VgoE3JkYgTYix_K_BAJs_W9ojHpcnMMIaRkL4/edit?usp=sharing)
[google sheets with primary candidates](https://docs.google.com/sp

[2018-04-06 20:31] aebudden commented on #28
Thanks for this breakdown Vanessa, great start. Matt and I did a cursory review and have a few comments:
1) Some cells were empty (US affiliation, institutions, competency). Perhaps because you had already filtered these individuals out? We have filled in a few of these and need to complete the rest
2) In your documentation, it was not clear the filters you used to get to the 28 candidates.  We we

[2018-04-09 17:54] vlraymond commented on #19
@kameyer @csjx please edit and add your reporting to the below.

## Trip report:
### Mixer - Wed eve
Kathryn and Vanessa attended. In attendance was a small crowd, but tightly cliqued at tables and deep in discussion. We spoke with conference organizers (Wendy and Simon), professors from Gettysburg College who had brought several undergraduate students with them, and a group of PhD students from U

[2018-04-09 18:10] vlraymond commented on #28
fixed: 1,4, 5

[2018-04-10 23:05] kameyer commented on #38
Posted call for proposals as Update on IARPC Collaborations Member space on 04/10

[2018-04-11 17:58] maier-m opened #40 "Build Submission Guidelines"
Clear submission guidelines are needed for the Arctic Data Center. These guidelines should answer the main question **What is expected of data submitted to the ADC?** Currently without such guidelines, there seems to be a lot of uncertainty from both users and managers (the data team) on what is expected of submissions leading to inconsistencies on data package quality. Additionally, without clear

[2018-04-12 21:09] kameyer commented on #15
After talking with Stephanie, I created a draft ADC DMPTool, following the BCO-DMO format, which seemed to go well with our needs. The actual formatting/view of the tool will allow for more notes and specifics on the side panel, depending on what we want to include. I've shared with Jesse to solicit his feedback regarding what the data team feels is helpful to include. Draft: https://docs.google.c

[2018-04-16 18:13] #37 closed

[2018-04-16 18:13] #19 closed

[2018-04-16 18:22] vlraymond opened #41 "ESA 2018 - logistics"
Logistics to do's
- [ ] KM confirm details with AB on travel
- [x] KM register, secure hotel and lodging
- [ ] bulk up on swag (issue #32)
- [ ] coordinate shipping of materials down to ESA / hotel

[2018-04-16 18:28] vlraymond opened #42 "Y3Q1 report"

[2018-04-16 18:33] vlraymond opened #43 "Fellow Feedback"
gather feedback from existing fellows to incorporate in to next cohort planning and prep

[2018-04-16 19:31] vlraymond commented on #15
VR to review slides, reach out to SYB, add in talking points in comments section.

[2018-04-16 19:31] vlraymond commented on #1
VR create training tickets for each workshop

[2018-04-16 19:43] vlraymond commented on #41
- 6 orgs across 4 booths.
 - 3 booths have paired orgs (cafe / shared space / ), fourth booth is a "stand alone" for workshops, demos and talks. There will be a schedule for talks that include outside organizations.

- messaging will be really important.

AB to check on full registrations vs booth registrations

[2018-04-16 19:44] aebudden commented on #43
Develop a survey that can be used for this cohort and future cohorts?

[2018-04-16 19:46] vlraymond commented on #43
- dominic and stephen leave first (end of April?)
-  Irene, Rachel, Steph
- emily (July)

survey topics:
1. perceived development
2. match up questions with an onboarding survey with this exit survey

[2018-04-16 19:50] vlraymond commented on #38
VR  re-organize spreadsheet to include frequency of commnications

[2018-04-17 17:10] aebudden commented on #31
Potential AGU session here: https://docs.google.com/document/d/1KxQth2h020Vsc7BmIbZ2dF2XD76pckx3sD2V78Nr6Os/edit
Very draft. Due 4/18

[2018-04-17 17:33] vlraymond opened #44 "Improve "Submission" on arcticdata.io"
Goals:
- set better expectations using "Submission" and "Q&A" pages
- clear / clarification on expectations (useful for our team and for users)
- resource for data team
- quickly changeable

Document Structure:
- overview
-> links to examples
--> links to broader / deeper explanations
---> links to EML

Example:
[Dataverse Project - User Guide](http://guides.dataverse.org/en/4.8.6/user/)

Proposed

[2018-04-19 19:11] vlraymond opened #45 "POLAR2018 - DMP session"
# Session: Data Management Planning
_(what we said we were going to do)_
- Introduction to the Arctic Data Center
- Data Life Cycle
- NSF Standards and Policies
- Tools for Writing a Data Management Plan

# Some pre-existing resources
### Why create a DMP
- [ESIP Commons: Why Create a Data Management Plan?](http://commons.esipfed.org/node/1439)

### Elements of a DMP
- [ESIP Commons: Elements of a

[2018-04-19 23:38] vlraymond commented on #7
@jagoldstein I guess I'd just make a new branch w your edits.

No worries, I didn't ask you all to look at it until just y'day because I felt like there was a lot on your plate with testing the editor, new fellowship applications, etc.

[2018-04-20 16:18] vlraymond opened #46 "POLAR2018 - Preparing a submission to ADC"
#Session: Publishing data with the Arctic Data Center
_(what we said we would do)_
- Web-based submission
- Automating submission for large datasets
- Data and Software Provenance at the Arctic Data Center

### Pre-existing materials

[2018-04-20 16:27] vlraymond commented on #18
Provided Sheekela with comments and some talking points and new content on 4/15.
She asked Amber to contribute to some slides. I can provide content for those slides if you want @aebudden

[2018-04-20 16:34] vlraymond opened #47 "POLAR2018 - Best practices for data/metadata"
# Session: Best practices for data & metadata submission
- Storing and preparing data in open source formats
- Stability, longevity, interoperability
- Metadata best practices & automated metadata quality checks

### Pre-existing resources:
- [Introduction to Research Data Management - case studies (Oxford)](https://zenodo.org/record/28326)
- [Preservation and Archiving of Digital Media](https://c

[2018-04-23 21:37] kameyer commented on #43
Draft Questions: (coming soon)
Timeline: Get survey to fellows by June 1

[2018-04-23 21:39] kameyer commented on #23
### Topics
-[ ] Data Editor

[2018-04-23 21:48] kameyer commented on #8
Note: In-house training/learning (for VR & KM)

[2018-04-23 21:51] kameyer commented on #15
Updated DMPTool Draft (from 04/20/2018): https://docs.google.com/document/d/1Op6yG0wzLegfM9eDrCRI4ca3gZ8XcW3d0OuaEwdPYcU/edit

[2018-04-26 16:35] vlraymond commented on #18
## Trip report:
Arrived late Sunday night / Monday morning. Attended sessions Monday and Tuesday, flew back early Wednesday am.

Sheekela's session was on Tuesday afternoon and was well attended with 30 - 40 attendees. Other speakers spoke about arctic data portals and arctic observing stations. Sheekela gave a good talk about the ADC and its partnership with NCEI. She highlighted the outreach and

[2018-04-26 16:37] #18 closed

[2018-04-26 18:02] vlraymond commented on #31
As of 4/26/18 for call scientific workshop proposals has not opened

[2018-04-26 18:05] vlraymond commented on #39
email received on 4/25/18

[2018-04-27 19:11] vlraymond commented on #17
released in Beta and Test n 4/27.
LW suggests;
1. one to two week beta testing period with data team,
2. then after that, pass to PIs

Q: how to pick PIs?
- pick someone friendly and give them the heads up (from MJ)
- just let everyone use it and see what happens (from LW)
-

[2018-04-27 19:14] vlraymond commented on #44
MJ - requests we update submissions page on arcticdata.io sooner rather than later and iteratively as opposed to perfectly.

[2018-04-27 20:56] vlraymond commented on #22
Closing this ticket as this language (albeit in truncated / refined form), has been incorporated in to the beta version of  metadata editor now on arcticdata.io

[2018-04-27 20:56] #22 closed

[2018-04-27 21:41] vlraymond commented on #9
closing due to inactivity

[2018-04-27 21:41] #9 closed

[2018-04-27 21:42] vlraymond commented on #12
closing due to lack of updates in 3 months

[2018-04-27 21:42] #12 closed

[2018-04-27 21:53] vlraymond commented on #24
next step: VR needs to finally push this to the repo

[2018-04-30 00:02] aebudden commented on #28
@vlraymond  Can you please prepare emails for everyone in the spreadsheet that has "make offer", "#2" or #3" listed in column AA (include/decline).  The two I'd like clarification on are those marked 'Review' - Amanda Moors and Priyanka Surio. You excluded those on the basis of content in their CVs but using the spreadsheet rubric they would have been included. I can see a stronger case of Amanda

[2018-04-30 16:04] vlraymond commented on #28
My reasons for these two:
Priyanka S doesn't have current Arctic research, has never received NSF
funding, and she does health work - whereas we typically do not.
Amanda M does not have current Arctic research, nor does she have any
linkage to Arctic research in either her resume or her write-in sections in
the applicant form.

On Sun, Apr 29, 2018 at 5:02 PM, aebudden <notifications@github.com> w

[2018-04-30 16:06] vlraymond commented on #39
@aebudden do you want someone else at ADC to take this talk scheduled for 5/16? If so there are training sessions happening this week, and we should notify the organizers of the name change.

If not, I should notify them that this talk is canelld.

[2018-04-30 16:14] vlraymond opened #50 "ESA Lightning talk"
@aebudden do you want to change the presenter name on this lightning talk to @kameyer? Or cancel? Cancellation or abstract changes need to take place by tomorrow 2:00pm pacific

https://docs.google.com/document/d/1NuWbPEGJSXB1HUqqf33abEvSuJRzQ6luwU2Hg5HJfYw/edit

https://docs.google.com/presentation/d/1ONF4HWU-y8eQB-MomKsyJDl8MPvKwQ8yGAbXGBMKp4U/edit

###

email from organizers:
"Congratulations!

[2018-04-30 16:36] vlraymond commented on #28
would favor Jennifer Schmidt as she's from ISER and they have ALOT of data. It would be cool for ADC to have a better relationship with that group as we expand our social science research holdings. Second would choose Kayla H (USCG) as USCG struggles with entering the modern era in terms of data access and management and this could be a great training for her to bring back with her.

[2018-04-30 16:37] aebudden commented on #28
OK, please go ahead and set up invites for these two and the others listed in the spreadsheet. Confirm that is 25 total. We can review this am and get them out at lunch.

[2018-04-30 17:40] vlraymond commented on #28
Email template:

[2018-04-30 17:58] aebudden commented on #28
We need to give them a date by which we want them to respond - and explicitly ask them to respond. Perhaps before the 2nd para include: "Please let us know by Friday April 4th if you are able to accept this invitation. Upon confirmation, Ginger Gillquist (our meetings coordinator) will ...."
At the 'for questions' part possibly change to read "Please do not hesitate to reach out with any questions

[2018-04-30 18:13] vlraymond commented on #28
Ok so the list is 25 ppl right now.

I'm triple checking and going back over the applicants who have been tagged with <blank> and <review> in accept/decline column, and re-reviewing Amanda M to make sure I parsed her application correctly. Will have any notes or adjustments compiled by our CEO call.

[2018-04-30 18:54] vlraymond commented on #34
closing this ticket as I believe Jesse and Jeanette have handled this already

[2018-04-30 18:54] #34 closed

[2018-04-30 18:59] kameyer commented on #15
DMPTool Spreadsheet format: https://docs.google.com/spreadsheets/d/1uapc2T-kgtsPTI_9TizlSp-LKAdwtGVJUuqcy0G2fyA/edit?usp=sharing

[2018-04-30 19:08] aebudden commented on #50
There are many lessons to be learned from fairy tales. In this Inspire talk we’ll revisit such classics as Hansel and Gretel and Jack and the Beanstalk to talk about effective data preservation. What can Hansel and Gretel’s trail of breadcrumbs through the forest teach us about retracing our steps in our own research? How can Alice in Wonderland’s White Rabbit and Cinderella’s glass slipper serve

[2018-04-30 19:10] vlraymond commented on #50
AB assessment is to hand this talk to Matt to give.

[2018-04-30 19:12] vlraymond commented on #39
https://docs.google.com/document/d/14uax9Pb5CURjqahBIn9f-7dBuYDiIylErdxgPt2_5kQ/edit

[2018-04-30 19:15] vlraymond commented on #39
AB - Should be MJ?

[2018-04-30 19:15] aebudden commented on #50
@mbjones You are not slated for an ignite in this session (led by Steph H and I). Can you take this?

[2018-04-30 19:15] aebudden commented on #39
@mbjones I have a day off this day (kids school camp trip). can you take this?

[2018-04-30 19:45] kameyer commented on #40
This is now addressed in issue #44

[2018-04-30 19:53] vlraymond commented on #35
possibly good idea to remind for registration combined with our blast

[2018-04-30 19:53] vlraymond commented on #31
still waiting for call for workshops to open in order to apply

[2018-04-30 19:54] vlraymond commented on #38
hold.

[2018-04-30 19:57] vlraymond commented on #27
tell Ginger we need one more room for reservations

[2018-04-30 20:31] vlraymond commented on #27
Spoke with Ginger today, she did not think that adding one room to make a total of 25 rooms reserved at the Upham for this training. She is "calling Margarite now!" she tells me.

NB:
1. She has reserved a room for Matt at his favorite hotel (not the Upham)
2. At the Upham she reminds us that the Friday 8/17 rate goes up to $260/room. We may want to consider doing a shorter schedule on the Friday

[2018-04-30 21:13] vlraymond commented on #27
Confirmed by GG that she has reserved a total of 25 rooms for our training

[2018-04-30 23:28] vlraymond commented on #42
-running through https://github.com/NCEAS/arctic-data-outreach/wiki/Reporting and updating read.me as needed (updated quarterly and year info, loaded lubridate...)

## stats
### Results of calculate_metrics.R
quarter                        metric  value
1  pretransition           total_dataset_count   3009
2  pretransition new_and_changed_dataset_count   3084
3  pretransition            total_obje

[2018-04-30 23:54] vlraymond commented on #42
VR stopped before RT user support tickets

[2018-05-01 17:30] vlraymond commented on #42
Uptime from Nick for Y3Q1
![image](https://user-images.githubusercontent.com/7627276/39484451-b487e892-4d2a-11e8-8be2-cbe91f907051.png)

[2018-05-01 18:35] vlraymond commented on #42
from CJ

-rw-r--r-- 1 vlraymond 20M May  1 11:13 /home/vlraymond/access_log.csv

[2018-05-01 19:33] jagoldstein commented on #7
ok @vlraymond I submitted a PR with my edits to merge my branch to the master

[2018-05-01 20:17] vlraymond commented on #7
So I reviewed Jesse's PR. I don't think I have write permissions to commit the PR (or II am doing this wrong)... anyways so it's reviewed but not committed. @mbjones

[2018-05-01 20:54] vlraymond commented on #42
RT tickets
![screen shot 2018-05-01 at 1 51 59 pm](https://user-images.githubusercontent.com/7627276/39493285-2b3ead9c-4d47-11e8-9333-5ffe05639716.png)
![screen shot 2018-05-01 at 1 53 17 pm](https://user-images.githubusercontent.com/7627276/39493288-2d159518-4d47-11e8-9ded-1bb7684000e8.png)

[2018-05-01 20:57] kameyer commented on #50
Edited the Abstract
Title: The Case for Metadata
In research, things don't always go as planned. But good metadata practices can help you counteract, and keep track of, your project's unexpected moments. Come learn about the importance of metadata and discover ways you can benefit from maintaining it. With good metadata, if you put in the effort, you can reap the reward.

[2018-05-01 21:13] vlraymond commented on #42
VR next steps:
- [ ] complete log calculations (remember password to dataserver)
- [ ] calculate unique people accessing metadata and data

[2018-05-01 21:48] vlraymond commented on #28
AB sent out acceptance letters on Monday. Tracking offer acceptance in the same spreadsheet.

[2018-05-01 21:48] vlraymond commented on #50
KM submitted new abstract and is now listed as the the presenting author

[2018-05-01 22:03] vlraymond commented on #17
VR reviewed and edited PR

[2018-05-03 18:10] vlraymond commented on #42
Draft is pretty close, still need to figure out my password in order to complete the metrics part.

[2018-05-03 18:29] vlraymond commented on #35
it's posted in APECS calendar
<img width="1043" alt="screen shot 2018-05-03 at 11 26 01 am" src="https://user-images.githubusercontent.com/7627276/39595642-f1a07546-4ec4-11e8-8daf-758c5944a5bb.png">

[2018-05-03 18:37] vlraymond commented on #35
blasted out to Cryolist. See it's posted still on APECS. Should be posted to ARCUS again however shouldn't be via VR's personal account in case there are questions

[2018-05-04 19:54] isteves commented on #4
May be addressed by: https://github.com/NCEAS/datamgmt/blob/master/R/get_awards.R

[2018-05-14 20:02] kameyer commented on #7
great, thanks @jagoldstein!

[2018-05-15 21:12] kameyer commented on #7
The FAQ page on the website has been updated with the improved content (https://arcticdata.io/q-and-a/)

[2018-05-15 21:12] #7 closed

[2018-05-15 21:40] jagoldstein commented on #7
@kameyer this is great, thanks! I just noticed one minor formatting issue:

<img width="851" alt="screen shot 2018-05-15 at 2 39 02 pm" src="https://user-images.githubusercontent.com/18270215/40084976-cb3409c6-584d-11e8-8b8b-859ae8eb2dbf.png">

these 3 hyphenated points should each be on a separate line (bulleted), or simply turned into a sentence with a list.

[2018-05-16 17:38] kameyer commented on #39
KM presented (https://docs.google.com/presentation/d/1jgrmosJbDhnvesTatAsoZzqlCOM1T6loiung-jUUGvQ/edit#slide=id.g395f0ab614_0_0). All presentations were recorded - should be available on APECS website soon.

[2018-05-16 17:39] #39 closed

[2018-05-18 21:33] kameyer commented on #31
Call for workshops open. Deadline June 6, 2018
https://fallmeeting.agu.org/2018/scientific-workshops/

[2018-05-18 21:35] kameyer commented on #31
Steven's work with semantics could work well in the Data & Rising technology SWIRL theme (https://fallmeeting.agu.org/2018/session-proposals/swirls/)

[2018-05-23 20:39] kameyer commented on #31
Proposal Draft, reusing the ESA proposal draft, for review @aebudden https://docs.google.com/document/d/1xnB5avP-iitfTrqVzaM0v-o4yirszyczzsXJ6ekPxiM/edit

[2018-05-25 22:17] kameyer commented on #41
Early bird deadline: June 14

[2018-06-01 17:43] kameyer commented on #35
Submitted to ARCUS events 6/1/2018

[2018-06-01 18:10] kameyer commented on #32
Ordered 500 stickers (should arrive by 8 June)

[2018-06-03 18:13] aebudden commented on #28
All items in this ticket complete

[2018-06-03 18:13] #28 closed

[2018-06-06 13:49] aebudden commented on #31
Workshop proposal submitted

[2018-06-07 18:33] kameyer commented on #43
@aebudden could please you take a look at the draft questions (link above) and provide your  feedback/suggestions? Thanks

[2018-06-07 18:35] kameyer commented on #32
Will bring remaining post cards to POLAR 2018, but decided not worth printing more or creating a new design yet. (During an Arctic team call, there was talk of seeing some in the garbage at the Intl Arctic Workshop) Perhaps post cards aren't the most beneficial swag option for us

[2018-06-07 20:11] laurenwalker commented on #32
Are we doing "Keep It Cool" stickers? 😆

[2018-06-07 21:00] kameyer commented on #32
Due to the timing of printing (and getting a new potential sticker approved, etc.) we unfortunately won't be able to have a second sticker for POLAR, but maybe in time for ESA in August?

[2018-06-08 20:34] kameyer commented on #23
Overview video guide for creating a new submission in Editor

[2018-06-12 18:12] maier-m commented on #21
@irene has built some tools to get new NSF awards and look for NSF awards on ADC.
Also we have gotten some recent feedback from Arctic researchers that they are not aware of the ADC which may push the importance of this communication.

Two strategies may be needed
1. Set up a continous email strategy for new NSF awardees with information as well as potentially set up a skeleton submission for them

[2018-06-12 18:17] isteves commented on #21
Also related (from https://github.com/NCEAS/datamgmt/issues/135)
Link `get_awards` to arcticbot/email updates: provide option for new awardees to populate (some fields) of an EML template of sorts, to get an idea early-on about what’s expected (at least Project level - avoid PI’s copying and pasting NSF abstract to dataset)

[2018-06-12 23:06] maier-m commented on #21
Talked with @kameyer
@kameyer will draft two emails
1. An initial email from ADC for new NSF ARC awardees
2. An email when NSF ARC awards begin their final year

Data team will draft building the system to collect NSF awards and send emails systematically.

Will get permissions before implementing

[2018-06-12 23:48] kameyer commented on #43
The feedback form was sent to all Fellows. 6/12/2018 Requested all responses by 6/29/2018 (or by the end of their fellowship period)

[2018-06-12 23:48] kameyer commented on #41
Kathryn registered for ESA

[2018-06-12 23:54] jagoldstein commented on #43
awesome! thanks so much @kameyer .

BTW, Steph mentioned to me that on her call with Matt yesterday he told her that he plans to _try_ to meet with all the fellows individually to debrief about the program. If this happens, I hope Dom and Steven are included too, even though their fellowships have already ended.

[2018-06-13 00:55] mbjones commented on #4
This feature request -- to automate frequent interactions with NSF PIs throughout their award lifecycle -- was raised last fall during our site visit with NSF, and was raised again this week by NSF, so it needs to rise to the top of our priority queue.  Here's a beginning of the description of what we need to produce, which should be captured in a series of other tickets as well.

- [ ] Design doc

[2018-06-13 00:58] csjx commented on #4
The conversation I've had with Polar Field Services and gaining access to their ARLSS database programmatically is pertinent here, so I'll add that into the plan.

[2018-06-13 00:59] mbjones commented on #4
Yes, I am about to add another ticket about ARMAP and project pages that relates.  Also, issue #21 relates as well.

[2018-06-13 20:34] laurenwalker commented on #4
I like having a separate email for this - notifications@arcticdata.io
sounds good.

On Wed, Jun 13, 2018 at 4:25 PM, Mitchell Maier <notifications@github.com>
wrote:

--
National Center for Ecological Analysis and Synthesis (NCEAS)
University of California Santa Barbara (UCSB)

[2018-06-14 04:45] mbjones commented on #4
We will need to respond if the reply to the address, so either way the correspondence should go into RT to ensure we follow through and address the issue.  So, I'm not sure there is a benefit of a different address, except if we want to route these to a different RT queue.

[2018-06-14 16:37] jagoldstein commented on #4
Well in that case, I think we should just stick with using support@arcticdata.io. It will be less confusing than having multiple addresses and we can just add a new RT label to those tickets if needed.
@maier-m

[2018-06-14 20:19] jagoldstein commented on #4
I feel like these are still a type of ADC support tickets. I'd rather have to check fewer queues than more. Right now the other queue we monitor ('Ecoinfo') is mostly related to KNB support. I don't see this case as being that distinct from our other ADC support tickets. They will be related to pre-processing and will be helpful to engage contributors in the convo early-on. Even if we resolve the

[2018-06-15 21:45] csjx commented on #4
During the ADC call, we discussed the components of a Phase 1 Notification system based on an R package polling the NSF awards database, populating a CSV file with minimal award information geared toward start-of-award and end-of-award milestones, and sending RT API calls to create RT tickets that are in turn sent to the PI for notification.  The design notes are at https://hpad.dataone.org/GYTgxg

[2018-06-15 21:57] maier-m commented on #4
Hack down from Arctica meeting 06/15/18

ADC Project Notification Notes (Phase 1)
========================================

Information to be stored in awards database
-------------------------
1. NSF award Number
2. PI
3. PI email
4. Title of project
5. Initial contacted date
6. 3 month before due - contacted date
7. 1 month before due - contacted date
8. 1 week before due - contacted date
9. Lis

[2018-06-16 00:23] maier-m opened #61 "Ensure Non-NSF funded submissions languages is correct"
Need to make sure our language surrounding non-nsf fundend submissions is accurate in https://github.com/NCEAS/arctic-data-outreach/blob/master/Website_Pages/Data_Submission.md

See
1. https://github.com/NCEAS/arctic-data-outreach/blob/master/Website_Pages/Data_Submission.md#publication para 2
2. https://github.com/NCEAS/arctic-data-outreach/blob/master/Website_Pages/Data_Submission.md#guidelines-

[2018-06-16 12:39] mbjones opened #62 "send info on data skillbuilding hub"
Susan Lynch runs a polar data RCN in which they are doing training based on Software Carpentry for HPC.  She was interested in what should be taught for data management.  Need to send he info on links and background on the DataONE Skillbuilding Hub (https://dataoneorg.github.io/Education/) as well as the ESIP training clearinghouse.

[2018-06-16 12:41] mbjones opened #63 "join the Arctic Data Committee"
Matt to follow up with Peter Pulsifer on joining the Arctic Data Committee.

[2018-06-16 13:11] mbjones commented on #63
Emailed Pulsifer on 2018-06-06:

    Dear Peter,

    As we discussed at the SCADM meeting, I would like to request that the NSF-funded Arctic Data Center (https://arcticdata.io) become a member of the IASC/SAON Arctic Data Committee.  The Arctic Data Center is responsible for preserving Arctic data from NSF-funded programs, and we feel strongly that to effectively do so we need to be interoperabl

[2018-06-16 13:20] kameyer commented on #62
Sent the resource links, etc. to Heather Lynch (heather.lynch@stonybrook.edu) via email 6/16

[2018-06-16 14:28] mbjones commented on #63
Response from Pulsifer, awaiting official ratification:

[2018-06-17 11:11] mbjones commented on #61
I reviewed the text, and the policy looks good.  I made minor language tweaks, and indicated that people should contact support for questions on non-NSF datasets.

[2018-06-17 11:11] #61 closed

[2018-06-18 16:43] jagoldstein commented on #61
https://arcticdata.io/submit/ updated

[2018-06-18 18:49] maier-m opened #64 "join https://fairsharing.org/"
ADC should be entered here https://fairsharing.org/
This is requirement 7 for being a PLOS ONE data repository http://journals.plos.org/plosone/s/data-availability#loc-repository-inclusion-criteria

KNB already has an entry here https://fairsharing.org/FAIRsharing.jjka8c

[2018-06-20 09:46] kameyer commented on #45
Workshop session on June 19 had 15-17 participants. The workshop was over the lunch period and difficult to find on the schedule (huge conference with a lot going on) - so the attendance number can overall be considered a success.

Attendees commented that they appreciated learning about DMP resources (i.e., DMPTool), as they were not aware these helpful online tools existed.

Notes for future DMP

[2018-06-20 09:46] #45 closed

[2018-06-22 14:55] #38 closed

[2018-06-25 19:15] mbjones commented on #44
The updates look great.  Let's try to make it more readable/approachable, and include some images and figures as needed.

[2018-06-25 19:16] #35 closed

[2018-06-25 19:17] #1 closed

[2018-06-26 17:03] #47 closed

[2018-06-26 17:03] #46 closed

[2018-06-27 21:07] kameyer commented on #41
Kathryn booked hotel for Sat 8/5 - Fri 8/10 in NOLA

[2018-06-28 21:53] kameyer commented on #21
KM to draft language for tickets - text to edit in awardBotADC repo

[2018-07-10 00:28] kameyer commented on #31
Although it's not our typical type of session, it might be an interesting opportunity to bring data science into the communication realm/get the word out about the ADC to a new crowd. It could get people thinking differently/be an interesting discussion

[2018-07-13 17:42] jagoldstein commented on #64
I received this email today:

"PLOS journals would certainly consider KNB to be an acceptable repository for authors to use to meet our data sharing requirement.

All the best,

Nick Simon | Publications Manager, PLOS ONE"

[2018-07-13 17:57] mbjones commented on #64
Awesome, @jagoldstein.

It would probably be good for us to push this for both KNB and ADC with multiple journals.  I've tried to register them at multiple repository registries, but it seems that every time I turn around there's a new registry/requirement. We used to be listed for Scientific Data, but not sure if we still are.  There's also an initiative to have multiple journals support a common

[2018-07-13 22:04] jagoldstein commented on #4
@dmullen17 will merge the updated email templates from his fork to
https://github.com/NCEAS/awards-bot/tree/master/inst/emails

[2018-07-16 20:13] kameyer commented on #64
@jagoldstein do I just send emails to Fair Sharing and journals asking if ADC can be registered as a data repository?

[2018-07-16 20:22] jagoldstein commented on #64
@kameyer it's unclear to me, but yes, that's my best guess. See Matt's comment above (https://github.com/NCEAS/arctic-data-outreach/issues/64#issuecomment-404907761); please ask for the KNB as well.

[2018-08-17 18:44] #41 closed

[2018-08-17 18:45] #50 closed

[2018-08-17 18:46] #30 closed

[2018-08-20 20:26] kameyer opened #65 "January Training Call for Applicants"

[2018-09-04 17:30] dmullen17 commented on #65
@kameyer I can't attach a csv file in Github so i'll just add the R code I used to generate it.  You can change the date if you want (I just pulled the past 6 months).  If it's a pain to run that (the `datamgmt` package can be troublesome) I'm happy to share the file elsewhere, but it might be interesting to run the code / mess with it!

[code]

[2018-09-04 18:26] kameyer commented on #65
KM emailed PIs who received NSF award between January 2018 - September 4, 2018

[2018-09-04 18:36] kameyer commented on #43
Fellow Feedback Summary: https://docs.google.com/document/d/1oos-ak-mLWSbzvgI9Cas0AJhJDrHeTV-CvTFShYdW7c/edit?usp=sharing

[2018-09-04 18:38] kameyer commented on #65
Documents: https://drive.google.com/drive/folders/1xeGGhhP5BIxsDkqWIoJh_mFhndR9NdBQ?ogsrc=32

[2018-10-24 16:42] kameyer commented on #64
Sent an email to contact@fairsharing.org inquiring about the steps to joining the FAIRsharing network 10/24

[2018-10-24 16:43] #27 closed

[2018-11-07 00:20] #21 closed

[2018-11-07 00:37] #5 closed

[2018-11-07 00:38] #6 closed

[2019-10-17 01:33] mbjones commented on #63
Accepted as a member 2 years ago, just now closing this ticket.

[2019-10-17 01:33] #63 closed

[2019-10-17 01:39] #31 closed

[2019-10-17 01:39] #65 closed

[2019-10-17 01:41] mbjones commented on #4
@csjx @dmullen17 I think this ticket can now be closed, right?

[2019-10-17 01:45] mbjones opened #66 "update advisory board with photos on web"
I just restructured the Advisory board section of the web site.  I think we should also add photos, and restructure the page using the same layout as the section above for team photos.  So, for each advisory board member, please:

- [ ] add a photo in the standard size and aspect ratio using the circular layout
- [ ] link their name to their bio
- [ ] indicate their term of service

It would also

[2019-10-17 17:02] #4 closed

[2019-10-18 19:16] dmullen17 commented on #66
[] remove Kathryn from About page as well

[2019-10-23 19:14] CSemnacher commented on #66
@mbjones, can you let me know how the page looks? Do you have any suggestions for further edits?

https://arcticdata.io/team/#science-advisory-board-identifier

[2019-10-23 21:06] mbjones commented on #66
Looks great, thanks! @aebudden or @laurenwalker might have suggestions, but if not, please close this ticket.  Thanks.

[2019-10-23 22:12] #66 closed

[2019-10-23 23:18] laurenwalker commented on #66
Looks good to me!

[2020-05-18 21:18] aebudden commented on #64
This issue is still active. KNB is listed, Arctic is not.

[2020-05-18 21:23] aebudden commented on #44
@erinlynmclean This is largely out of date and you have been working on web page updates. However, I am not closing the issue since there may be some elements that are worth considering. Please review and either close or integrate pieces into new issues you are building.

[2020-05-18 21:25] aebudden commented on #43
This feedback period has closed. We now have a survey and process in place.

[2020-05-18 21:25] #43 closed

[2020-05-18 21:30] aebudden commented on #36
Replaced by the data fellowship projects document.

[2020-05-18 21:30] #36 closed

[2020-05-18 21:31] #32 closed

[2020-05-18 21:32] aebudden commented on #23
Retaining this pre our conversation about a primer for the Center and recent screencast tutorial activities.

[2020-05-18 23:13] erinlynmclean opened #67 "Create presentation for USAPECS"
Working on the presentation ([PPT](https://drive.google.com/open?id=1KnvyP2nJ4lF1fIuUcvJfFjIwLGQFS4cY)) and accompanying text ([DOC](https://drive.google.com/open?id=1Bhgq1BFgRXP0QxcEamGrp9PVDPCB1viQ)) for the USAPECS webinar.

Important dates:
* 5/21, Practice / tech check with John and Emilie of USAPECS
* 5/22, Practice full webinar for team on Arctica weekly meeting
* 5/27, Webinar

[2020-05-18 23:15] erinlynmclean opened #68 "Finish working draft of Twitter and Website metrics script"
Working on creating a reproducible report for twitter and website metrics.

All info can be found here: https://github.com/erinlynmclean/twitter-analytics

Two deliverables:

- [x] a script that makes sense in markdown explaining what I did, for future me

- [ ] a polished report with publication quality graphics and explanations

[2020-05-18 23:17] erinlynmclean opened #69 "October 2020 Training"
Email participants in social sciences that we're having a social science training

Figure out the 20 people to put on our confirmed list

Email the confirmed list and the not qualified and the waiting list people once Amber signs off on email.

[2020-05-18 23:19] erinlynmclean opened #70 "Witness the Arctic article re: portals"
Write an article for Witness the Arctic about the portals feature

- [x] Email betsy@arcus.org about a deadline
- [x] Write article and send to Jeanette, Sarah, and Amber by June 5
- [x] Sarah feedback on article by June 11
- [x] Jeanette feedback on article by June 11
- [ ] Amber feedback on article by June 11
- [ ] Send article to Betsy by June 15

[2020-05-18 23:20] erinlynmclean commented on #69
- [ ] Email participants in social sciences that we're having a social science training
- [ ] Figure out the 20 people to put on our confirmed list
- [ ] Email the confirmed list
- [ ] Email the not qualified
- [ ] Email the waiting list people once Amber signs off on email.

[2020-05-18 23:40] erinlynmclean commented on #64
Sent an email to contact@fairsharing.org inquiring about the steps to joining the FAIRsharing network 5/18

[2020-05-19 20:18] erinlynmclean opened #71 "Social Sciences Workshop"
Amber needs to review:

- [x] [Blog post](https://docs.google.com/document/d/1uFhICe_V3YaEcPHNzO_dz-guLSL8PELHNrEg3Pf09LI/edit)
- [x] [Workshop report](https://docs.google.com/document/d/1ptfUpFaiSTRYr4FGf5-gl2BNJ-N-cCkeTvSK_xn1pS0/edit)

Matt needs to review:
- [x] [Workshop report](https://docs.google.com/document/d/1ptfUpFaiSTRYr4FGf5-gl2BNJ-N-cCkeTvSK_xn1pS0/edit)

Noor needs to review:
- [x]

[2020-05-19 20:36] erinlynmclean opened #72 "Organize the team drive"
- [ ] Create shared drive guidelines

- [ ] Get feedback on shared drive guidelines

- [x] Move documents from old ADC drive to new ADC drive

- [x] Share with the right people

[2020-05-19 20:37] erinlynmclean opened #73 "ESA Talk - SS Workshop Takeaways"
- [x] Create talk slides

- [x] Create talk text

- [x] Get feedback on both

- [x] Present to IARPC Data Committee meeting on 30 July

- [x] Record and upload for ESA

[2020-05-20 20:27] erinlynmclean commented on #64
They got back to me and I created an account using the arcticdatactr@gmail.com email address.

Next step:

- [ ] create the record on the site using their system.

"Adding and editing a record in FAIRsharing is easy. Information on how to do this can be found here: https://fairsharing.org/new/"

[2020-05-20 20:28] erinlynmclean commented on #70
Betsy got back to me: spring issue of Witness the Arctic is scheduled to be published in late June with a deadline to submit drafts on Monday, 15 June.

Your article could include:

- A brief overview of the focus of the Arctic Data Center and how it is funded,
- A reader-friendly description of the new portal services,
- Any specific news you want to share,
- A clear definition of terms to help e

[2020-05-20 21:42] mbjones commented on #64
I don't know what that email address is.  Could you please use one of our arcticdata.io addresses instead, preferably a list that can go to multiple people? We can easily create a new list address for this type of subscription if needed.

[2020-05-21 04:29] erinlynmclean commented on #64
The reason I had made that email was that I needed a gmail account to sign into flickr...now I have a few logins tied to it (Flickr, Vimeo, and now this). I don't know if I'd be able to "Sign in with Google" with an arcticdata.io address but down to be proven wrong.

No email actually goes to that gmail account - I have it set up to forward all emails to me. I can also set it up to forward all ema

[2020-05-22 16:46] erinlynmclean commented on #72
Thomas is working on this:
Hi Erin, moving folders through the web interface is not possible (it was just a fluke that somehow worked for two folders), so I have been playing around with rclone on and off for the last week, mostly waiting for copies to finish.
It is just in the middle of doing another backup which has been running for the last 5 1/2 hours and is maybe only halfway done.
After that

[2020-05-26 23:36] #67 closed

[2020-05-28 21:54] erinlynmclean commented on #64
Submitted the record to FairSharing 5/28, waiting for approval.

[2020-06-03 02:27] erinlynmclean commented on #64
Record added - can be found here: https://fairsharing.org/biodbcore-001529/

[2020-06-03 02:30] erinlynmclean commented on #23
@aebudden @mbjones - let me know if you have any additions to this list, or any topics that should switch categories.

Suggested topics for videos:
- [ ] Demo of how to use the catalog - video

Suggested topics for written explanation:
- [ ] Special requirements of social science data / qualitative data
- [ ] Data science 101 - do these resources already exist? Tend to be long resources. Can we fi

[2020-06-03 02:34] erinlynmclean opened #74 "Training site overhaul"
- [x] Fix dead links on https://arcticdata.io/training/
- [ ] Add Google Analytics to https://training.arcticdata.io/
- [x] Link https://training.arcticdata.io/ to https://arcticdata.io/training/ so t hat people can access it from the website

[2020-06-03 02:38] mbjones commented on #64
Congrats and thanks, @erinlynmclean !

I looked over the entry quickly -- there's a few things we should discuss, including the start year (NSF actually started funding the facility much earlier than 2016 with CADIS, so we have data form much earlier projects), and the standards and metrics that we use/follow. We should get some of the other metadata standards that we use listed, as well as the da

[2020-06-03 02:40] erinlynmclean commented on #64
Sure, I'll add discussing this to Friday's Arctica agenda!

[2020-06-03 20:52] erinlynmclean commented on #70
@mbjones @aebudden First draft is done - please check it out and give me any feedback you have!
https://docs.google.com/document/d/1xbpU3ErVLaMCHBgnMFDgqpvSWYUEUdxHOhCmdMFH0-4/edit

[2020-06-03 21:05] erinlynmclean commented on #23
Demo script for the catalog video demo has been written and passed to Sarah for her to screencast: https://docs.google.com/document/d/15svgeG01SZDP0JA-HiAlEmIXmLhLr3RMaOuqed2MbB8/edit
@aebudden / @mbjones add any feedback to that document so we can lock down the script before she records everything! :)

[2020-06-03 21:12] smerickson1 commented on #74
test

[2020-06-03 21:13] erinlynmclean commented on #23
@smerickson1 test

[2020-06-03 21:33] #8 closed

[2020-06-03 21:42] smerickson1 opened #75 "Exemplary datasets"

[2020-06-03 21:44] smerickson1 commented on #75
moving list from google sheets to R so it can be linked to GitHub

[2020-06-03 21:45] smerickson1 opened #76 "Module 1: Repositories"

[2020-06-03 21:48] smerickson1 opened #77 "Project introduction and outreach initial email & blog"
https://docs.google.com/document/d/1CQXKyehCOqckNr537-1SK1MLLGSnUtnnMQDPd0VHCE8/edit

[2020-06-04 22:47] erinlynmclean commented on #13
I went through the website and defined all first instances of an acronym on a page - I think that should be sufficient to close out this issue.

[2020-06-04 22:47] #13 closed

[2020-06-05 20:42] erinlynmclean commented on #64
I cross referenced the record at re3data and added a bunch of things - tagging in @jeanetteclark to add anything else I may have missed. username is arcticdatactr.

https://fairsharing.org/biodbcore-001529/

[2020-06-09 23:05] erinlynmclean commented on #70
Jeannette gave me some good feedback - up to you next, @aebudden! :)

[2020-06-09 23:24] erinlynmclean opened #78 "Create portals lesson for ADC training"
Create a module for the Artic Data Center training about the portals:
-Why portals are great
-How to use them
-How to create one and add data

Create this module for both in person and asynchronous online learning.

[2020-06-16 17:11] erinlynmclean commented on #70
Sent this morning at like 7:30 am since I was OOO on the 15th....hopefully we'll still make it into this month's edition of Witness the Arctic.

[2020-06-16 17:11] #70 closed

[2020-06-16 17:11] erinlynmclean commented on #72
Update from Thomas:

Sorry, I put the migration to the side for a while as it does not seem possible to take ownership of somebody else’s files just for a specific folder which means there is no clean way to address 3. from above. I know we have to do it anyway. I will bring it up next week (Matt’s time is, of course, extra tight this month because of his jury duty).

[2020-06-16 17:12] erinlynmclean commented on #71
John Farrell reached out to Noor and asked for a summary report from the workshop.

“I ask because we’re putting together our next outline for the 2021-2022 USARC Goals Report, and I’m interested in any recommendations that came out of your workshop.”

I asked him for a deadline of when he needs it by.

[2020-06-16 17:13] erinlynmclean commented on #78
Working on this, starting with the text from ESS-DIVE's portal documentation.

https://docs.google.com/document/d/1TYKiauTOMG-Av-fUz7S5D6a4TDFIkhYHNYDrSMlMDZY/edit#

[2020-06-16 17:15] erinlynmclean opened #79 "Create a page detailing semantics"
Amber / Matt requested a page on arcticdata.io about semantic vocabulary definitions and recommended I reach out to Mark. We want the page to be easily readable by the average person to explain what semantic annotations are and how they're used to help researchers navigate the terms used in datasets we hold.

Mark is taking a first pass at writing some text for that webpage.

As of right now, I th

[2020-06-16 17:17] erinlynmclean opened #80 "Screencast demo for ADC"
@smerickson1 is working on a screencast demo for how to use the catalog.

[2020-06-19 18:24] smerickson1 commented on #78
https://drive.google.com/file/d/1JtizwYPDCq-gC6KP1IdKFIcfTU9Q0Ohf/view in review

[2020-07-02 22:05] erinlynmclean commented on #72
Topic of discussion on July 10 Arctica call.

[2020-07-02 22:12] #64 closed

[2020-07-02 22:15] erinlynmclean commented on #23
https://drive.google.com/file/d/1Jroky9DxxbxY73ASGZPfrKY8ujID3aP4/view - version 2 feedback sent

[2020-07-10 17:40] erinlynmclean commented on #72
Update from Thomas:

[2020-07-10 19:57] erinlynmclean commented on #79
Mark needs an extra week! :)

[2020-07-10 20:39] erinlynmclean commented on #23
This version has been through 4 rounds of feedback by me - @aebudden / @mbjones time for you to weigh in!

[Video](https://drive.google.com/file/d/1WRScR_NO1ThFyHE9NSs25XCygSh3mOkp/view)
[Feedback doc](https://docs.google.com/document/d/1Me2T1SankBw77ULkSpytZGnpMYhG1Yaeyinh7xf9-zU/edit)

[2020-07-13 22:52] mbjones commented on #23
I added feedback to the doc. Nicely done @smerickson1 and @erinlynmclean!

[2020-07-20 17:30] erinlynmclean commented on #23
@aebudden your turn! :)

[Video](https://drive.google.com/file/d/1WRScR_NO1ThFyHE9NSs25XCygSh3mOkp/view)
[Feedback doc](https://docs.google.com/document/d/1Me2T1SankBw77ULkSpytZGnpMYhG1Yaeyinh7xf9-zU/edit)

[2020-07-20 17:32] erinlynmclean commented on #71
New updates:

-Writing a more streamlined version of the paper
-Brainstorming session with everyone 7/24

[2020-07-20 17:36] erinlynmclean opened #81 "AGU Million Dollar Question"
Folder: https://drive.google.com/drive/folders/1mp5EEtn4JQwS1Ynhhs2cg7INRTzKkvqh

Working on creating a game like presentation for AGU.

[2020-08-23 23:27] erinlynmclean commented on #23
@smerickson1 when you've added the new edits, let us know!

[2020-08-23 23:27] #73 closed

[2020-08-23 23:29] erinlynmclean commented on #71
Sent document to everyone, new deadline of 9/1. @mbjones / @aebudden please look when you get the chance:
https://docs.google.com/document/d/1iQfRrldG91c_yMk3c92XOkx7X1xjKe_fjRfCCkFiBXo/edit#heading=h.3xa8bx3zig7g

[2020-08-23 23:30] erinlynmclean commented on #79
Still waiting on Mark, reminded 8/20

[2020-08-23 23:30] erinlynmclean commented on #72
Will bring this up again in October!

[2020-08-23 23:32] erinlynmclean commented on #81
Things have changed for AGU - no longer doing a game because the session has been merged with another.

@aebudden will connect with Shelley on how it’s going to look in the Data Fair since she’s really into it.

Erin to think about how it would be in person since designing it exclusively for remote would be duplicated work. Reporting on it for ESIP in January so December makes sense. Crowdsource i

[2020-08-23 23:34] erinlynmclean commented on #78
Finished for D1, sent @jeanetteclark updated images to add to the ADC bookdown.

[2020-08-23 23:34] #78 closed

[2020-08-23 23:36] erinlynmclean opened #82 "Analytics on ESA Attendees"
Put together some quick back of the envelope graphs from ESA Data Help Desk sessions and attendees, then add it to the blog as our post for September?

[2020-08-23 23:42] erinlynmclean opened #83 "Put together mailing list"
- [x] Investigate options for mailing list platforms (emailed Courtney about NCEAS mailchimp 8/23)
- [x] Develop content that would go in there, likely based off of quarterly reports
- [x] import emails into the data platform
- [x] Gather feedback on the content and format
- [x] Mail out the first newsletter!

[2020-08-23 23:44] erinlynmclean opened #84 "Draft "What is the Arctic Data Center" Info Video"
What is the Arctic Data Center all about? What do we have? How can we tell people in one minute, beautiful-imaged video what we do and why?

[2020-08-23 23:45] erinlynmclean opened #85 "New Website page - FAIR principles"
How does the Arctic Data Center comply with the FAIR principles? Might be nice to have a page on this on the about page or something like that...

[2020-08-23 23:46] erinlynmclean commented on #83
A By The Numbers infographic would be a great recurring piece to put in the newsletter

[2020-08-23 23:47] erinlynmclean commented on #81
And we'll use the ESIP Funding Friday money to accomplish whatever we end up thinking about.

[2020-08-24 02:02] erinlynmclean commented on #74
@laurenwalker I don't know how to add Google Analytics to training.arcticdata.io - any help with that would be great!

[2020-08-24 03:07] erinlynmclean commented on #82
Done! Added comments in Slack:

ADC: Just took a look at the numbers from ESA earlier this month. For the three Data Help Desk presentations and Amber / Jeanette's sessions, we had 336 unique attendees (including us), with that spread out as 69 in @aebudden's Search, Discovery, Access talk, 125 in @jeanette & @aebudden's INS session, 43 in @aebudden's DMP session, 76 in the DHD Tues session, 42 in

[2020-08-24 03:07] #82 closed

[2021-02-20 20:46] csjx opened #86 "Rename the master branch to main"
From an inclusivity perspective, I suggest we rename the `master` branch to `main` and generally use more welcoming terms as we describe our software architectures. The use of the the terms `master` and `slave` in computing are not welcoming.  For context, see the [Inclusive Naming](https://inclusivenaming.org) project and [this repo](https://github.com/github/renaming).

[2021-02-23 01:37] mbjones commented on #86
Done. You can update a local copy to the new branch name by running:

[code]

[2021-02-23 01:37] #86 closed

[2021-06-01 18:26] #68 closed

[2022-01-26 18:13] #74 closed

[2022-01-26 18:18] aebudden commented on #85
Link to FAIR page is within  '[working with data](https://arcticdata.io/working-with-data/)' but  page does not exist /  has  not been published.
- [ ] Check for existence of content and either
- [ ] 1) publish or
- [ ] 2) remove reference to FAIR from working with data

[2022-01-26 18:19] #84 closed

[2022-01-26 18:22] aebudden commented on #15
Template is live within DMPTool- still has draft status. Would benefit from review before closing this issue.

[2022-01-26 18:23] #17 closed

[2022-01-26 18:25] #44 closed

[2022-01-26 18:28] #81 closed

[2022-01-26 18:28] #83 closed

[2022-01-26 18:30] #23 closed

[2022-01-26 18:30] #71 closed

[2022-01-26 18:31] #79 closed

[2022-01-26 18:37] aebudden opened #87 "Blog article for sensitive data types"
[Blog piece](https://docs.google.com/document/d/1Y3sB6mmRZMMmpqgLZsvvLRgnvz4usCfxUmU9xrdpkEM/edit) written.  Needs review and sign off from

- [ ] @mbjones and
- [ ] @aebudden

- [ ] Need  to coordinate announcements with MetacatUI release. Likely  week  of 1/24
- [ ] Newsletter piece as well as blog piece
- [ ] Promote via social media

[2022-01-26 18:43] aebudden opened #88 "Community wide survey"
Develop  community wide survey to understand perspectives, awareness and satisfaction associated with the Arctic Data Center. Collaborate  with  other organizations  to have a more comprehensive set  of questions  and  reduce survey  fatigue from participants. Survey needs to be  released  in Yr1.

Current brainstorming [document](https://docs.google.com/document/d/1Mi-zOeGsepcZ9iZDNWoGUPPmGaKVK1o

[2022-01-26 20:38] mbjones commented on #87
I added an initial set of comments @nhchavez -- have a look. Overall this is a good start. I think the piece needs more depth, and to develop a thesis. Think of it less as a news item and more of a thought piece with a message -- the "news" is incidental to the message. I think the message should be along the lines of: "ADC improvements begin the process to embrace deep transparency in data ethics

[2022-01-26 21:19] aebudden commented on #87
I moved the issue back to in progress as I think the feedback provided by Matt would be great to include before another level of review.

[2022-01-26 23:58] nhchavez opened #89 "Curriculum "Fundamentals in Qualitative ... ""
Lesson planning for Fundamentals in Qualitative and Quantitative course
Tasks:
[ ] Ethical data collection (CARE principles) -  NEW (TASH)
[ ] Human subjects research considerations - NEW (TASH)
[ ] Portals - (TASH)

https://docs.google.com/document/d/1QHENCXrtToIQNCwZNxCwrJUMKsMxGiccQf9o_iZ9p1w/edit#heading=h.oxs97ildomxf

[2022-01-29 00:41] nhchavez opened #90 "Spring 2022 Training - Applicant Shortlist"
- [ ] Applicants have been reviewed and shortlisted based on their applicants
- [ ] Applicants with a ? next to their course referral need review from Matt, Amber or Jeanette

https://docs.google.com/spreadsheets/d/17pEMQP2fqS603_xIR4NrQSZn6IMoLESr26_ng4Gd_XU/edit#gid=653378290

[2022-01-29 00:47] nhchavez opened #91 "Email for Arctic Data workshop candidates"
[ ] Template for emails to Arctic Data Workshop applicants

https://docs.google.com/document/d/1r11WSTPhNsLuBAPjLpGYPNttUK4vUvMim3Eeny7Fw_Y/edit

[2022-02-01 20:09] #91 closed, assigned to aebudden, nhchavez

[2022-02-02 17:44] nhchavez commented on #87
Blog piece updated Feb 2nd, waiting for review from @aebudden and @mbjones

[2022-02-03 18:46] nhchavez commented on #88
Ready for review from @aebudden
https://docs.google.com/document/d/1Mi-zOeGsepcZ9iZDNWoGUPPmGaKVK1olZUfks_fWHJE/edit#

[2022-02-10 16:44] nhchavez opened #92 "Love Data Week Tweets"
Tweets for love your data week
[ ] need a tweet per day
[ ] a few tweets about the virtual course
https://docs.google.com/document/d/1Fi-qncCbCgKLdfmCbL9cllaEqoPcEH6x7HuNjiE-u-Q/edit

[2022-02-10 17:13] nhchavez commented on #92
ready for review from @aebudden

[2022-02-22 18:56] #90 closed, assigned to mbjones, aebudden, jeanetteclark, nhchavez

[2022-02-22 18:57] #92 closed, assigned to aebudden, nhchavez

[2022-02-22 19:35] nhchavez commented on #88
2-22-22
Ready for feedback from Matt and Amber

[2022-02-23 17:12] nhchavez opened #93 "Response to Ethical Practices in the Data Submission"
A new feature of the data submission asks

"Describe how and the extent to which data collection procedures followed community standards for ethical research practices (e.g., [CARE Principles](https://www.gida-global.org/care)). Be explicit about Institutional Review Board approvals, consent waivers, procedures for Co-production, data sovereignty, and other issues addressing responsible and ethica

[2022-02-24 00:02] mbjones commented on #72
Still needs to be done, @nhchavez -- did you accidentally close this? It's kind of critical for our backups, but as Thomas outlined, there are issues in doing the transfer well and completely. Happy to discuss alternate approaches.

[2022-02-24 00:07] nhchavez commented on #72
I closed it because it seemed like there hadn't been any movement on since August 2020 and I was trying to clean things up. I can reopen it, and some more context on this issue would be helpful

[2022-08-08 17:00] #88 closed, assigned to mbjones, aebudden, nhchavez

[2022-08-08 17:00] #87 closed, assigned to mbjones, aebudden, nhchavez

[2022-08-08 17:00] #93 closed, assigned to nobody

[2022-08-08 17:18] nhchavez opened #94 "Add Ranna onto team page"
Add Ranna on team page on wordpress
- include orcid number
- include photo

[2022-08-09 15:22] rzahabi opened #95 "Draft 10 tweets"
Drafted in buffer; already have until thursday. Link to buffer: [https://publish.buffer.com/profile/5eb0547ae84da031eb4f7313/tab/queue](url)

[2022-08-09 17:06] nhchavez commented on #95
Looks great! A few comments:
- for today's tech tuesday tweet, the laptop picture is fine, but im wondering if we could get something more engaging. This might be a case where it's better to use a funny gif with a cat tapping a laptop, or something like that (not sure if buffer let's you do gifs?)
- Saturday has two tweets, not sure we need that! Maybe move one of those to a different day
All in a

[2022-08-09 17:07] #85 closed

[2022-08-09 17:16] nhchavez opened #96 "August Newsletter"
Create newsletter to send out by the end of the week.
Needs to include:
- [job opportunity](https://arcticdata.io/employment-opportunities/)
- [new IRB resource page](https://arcticdata.io/irb-resources/)
- [Indigenous data sovereignty](https://indigenous-data-envs-2022.netlify.app/index.html)
- and anything else

[2022-08-09 18:02] rzahabi commented on #95
Edits are done!

[2022-08-09 18:03] #95 closed, assigned to nhchavez, rzahabi

[2022-08-15 17:01] #96 closed, assigned to nhchavez, rzahabi

[2022-08-15 17:02] nhchavez opened #97 "buffer Twitter"
- schedule tweets on buffer

[2022-08-15 17:05] nhchavez opened #98 "write tweets"
- draft some tweets, shoot for 5-10
- [twitter strategy here](https://docs.google.com/document/d/1iQTKHS4QYcvF9bNXS8QoaY2tUt-M_jEgoeEblB6tGOM/edit)
- [outreach criteria](https://docs.google.com/spreadsheets/d/18uRn1mvILYOuUPGVQbzFhWmT32o0vv-13Ql3nzB2wNU/edit#gid=0)

[2022-08-15 17:14] nhchavez opened #99 "Add pdg posters to website"
Add each individual poster to the pdg website - Tash will go over how to do this

[2022-08-15 17:22] rzahabi opened #100 "Finish permafrost posters for PDG"
edits to work on at the moment:

a few things to edit:
make the spacing even between all the boxes
make the titles a little bigger
How does it look if you move up all of the titles so it's more centered? (edited)

[2022-08-15 17:25] rzahabi commented on #100
Link to canva:

[https://www.canva.com/design/DAFEc5_11NU/NHwLr_doa65BAdZEM357Tw/edit?utm_content=DAFEc5_11NU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton](url)

[2022-08-15 17:37] nhchavez commented on #100
Looks good, a few things:
- make sure all the pictures of the speakers are in line
- the spacing between the boxes still needs to be exact
- Github: add this issue to the "waiting for feedback" category in the  [projects interface](https://github.com/NCEAS/arctic-data-outreach/projects/1)

[2022-08-15 17:46] rzahabi commented on #100
Do you want them in line on one side of the poster?

[2022-08-15 17:51] nhchavez commented on #100
I don't think so, I mean: make chandi's head and ingmar's head aligned vertically, and helena is in line with the two others (aligned where the two photos meet)

[2022-08-15 18:00] rzahabi commented on #100
Does that look more centered ?

[2022-08-15 18:16] rzahabi commented on #100
also do you prefer italicized and bolded title// or just bolded title and the italicized and bolded date?

[2022-08-15 18:21] nhchavez commented on #100
I like the bolded title and italicized and bolded date best! Good call!

[2022-08-15 21:51] #99 closed, assigned to nhchavez, rzahabi

[2022-08-16 14:28] nhchavez opened #101 "Wordpress - reorganizing blogs and news items"
- currently in wordpress, there were two pages for blogs and news items: we want to combine them
- should be able to go through the relevant news items and label them "all"

[2022-08-16 14:30] nhchavez opened #102 "Twitter retweet criteria"
- new guidelines added under the [retweet criteria](https://docs.google.com/document/d/1iQTKHS4QYcvF9bNXS8QoaY2tUt-M_jEgoeEblB6tGOM/edit)
- Waiting for feedback from Ranna for the following items:
1. Is there anything missing
2. Do the criteria seem comprehensive

[2022-08-16 14:30] #100 closed, assigned to nhchavez

[2022-08-18 16:27] nhchavez opened #103 "Wordpress: remove job listing"
- remove banner on main page
- remove entire listing from employment page

[2022-08-18 16:30] nhchavez opened #104 "Integrate news items onto the blog page"
- on the news items, change category to "all"
- on blog page, change category to include "all"

[2022-08-18 16:47] nhchavez opened #105 "Update "upcoming learning opportunities page""
- make posters for the three courses in canva
- three courses:
- Fundamentals of Qualitative and Quantitative Arctic Research Using R, January 30 - Feb 3, 2023
- Reproducible Research Practices for Arctic Research Using R, February 27 - March 3, 2023
- Scalable and Computationally Reproducible Practices for Arctic Research, March 27 - 31, 2023

- wordpress, on "upcoming learning opportunities" htt

[2022-08-18 23:18] nhchavez commented on #97
Feedback as of 8/18
- for Monday the 22nd. I love that you're trying to integrate CARE principles, but CARE principles are all about Indigenous data sovereignty and governance, so they don't really match the quote. Is this tweet from the excel sheet of tweets? if so it definitely needs to be deleted!
- Tuesday August 23rd: I've actually already tweeted this! Forgot to state that in the excel, sorr

[2022-08-18 23:23] nhchavez opened #106 "update team page on wordpress"
- delete Bryce Mecum
- delete Lauren Walker
[team page](https://arcticdata.io/wp-admin/post.php?post=32&action=edit)

[2022-08-18 23:25] #103 closed, assigned to nhchavez, rzahabi

[2022-08-23 22:29] nhchavez commented on #98
Left some comments! looks great! [tweets here](https://docs.google.com/spreadsheets/d/1G9sX3d43fCvXPOAjwi2I2gcHSFKd8WTu_VGa5JujhFc/edit#gid=0)

[2022-08-23 22:30] nhchavez commented on #105
Looks good, things to add
- where it states "application closed" add dates when application will open
- Fundamentals of qualitative ... Applications open September 5
- Reproducible ... Applications open September 26
- Scalable ... Applications open November 7

[2022-08-23 22:39] nhchavez commented on #97
@rzahabi There are two tweets scheduled for throwback thursday this week!
- love August 30ths tweet!! so good! can you also add something about the course accepting applications next month?
-

[2022-08-23 22:42] nhchavez opened #107 "Make application form for Qualitative course"
- copy [this form](https://docs.google.com/forms/d/1U_UhQwu06FwMENz_ZPFQW-AskldH6M68CSUCs4iLgqo/edit) and make it relevant for the fundamentals course
- make sure it's linked to the website
- blast on twitter on september 5th

[2022-08-23 22:43] nhchavez commented on #106
@rzahabi let me know if you have any questions about this!
https://arcticdata.io/team/

[2022-08-23 22:51] nhchavez opened #108 "create banner for main page about the new resource: indigenous data sov"
- canva for banners: https://www.canva.com/design/DAEyLD16csk/GuB1SL0UibJdVW8UgAPayQ/edit
- link to resource:https://indigenous-data-envs-2022.netlify.app/index.html
- title: Indigenous Data Sovereignty and Open Data in Environmental Sciences
- text: New resource available!
- Image: sweetgrass, salmon, or bears
-

[2022-08-25 16:22] nhchavez opened #109 "Make september newsletter"
- include [fundamentals and reproducible courses](https://arcticdata.io/training/)
- include data scientist assistant job?
- include permafrost series
- resource to include? data ethics?

[2022-08-25 23:27] rzahabi commented on #109
not sure how to add a second photo to merge the two courses--left that for now. everything else is up and saved!

[2022-08-29 16:53] nhchavez opened #110 "subscribe to newletters - ranna"
subscribe to these emails: [ArcticInfo](http://arcticinfo@arcus.org/), [Co-Creating Knowledge](mailto:co-creating.knowledge@lists.univie.ac.at),[ ECOLOG-L](http://ECOLOG-L@community.esa.org/),[ Cryolist](http://cryolist@cryolist.org/),[ Polar Education List](http://education@arcus.org/),[ ESIP-all](http://esip-all@esipfed.org/), AGU Community (via[ AGU Connect](https://connect.agu.org/home)),[ Ope

[2022-08-29 17:14] #106 closed, assigned to rzahabi

[2022-08-29 17:51] nhchavez opened #111 "Distribute permafrost announcement"
Send out emails.
[Text:](https://docs.google.com/document/d/1jSvJma0Lzs9BMGw-mAMY06bRxMthkirFM7G4UURgk5w/edit)
[Emails](https://docs.google.com/spreadsheets/d/16B40wM3eUYP204guWi5P2ItuCkVwRipaauQNz01vrKo/edit#gid=1348579064):

[2022-08-29 18:18] rzahabi commented on #111
first email sent!

[2022-08-29 21:06] #111 closed, assigned to rzahabi

[2022-08-29 21:24] rzahabi commented on #108
previewed some of the new options on canva! i'm a fan of the salmon the most but let me know what you like best/think I could tweak.

[2022-08-29 22:19] #94 closed, assigned to nhchavez

[2022-08-30 20:58] rzahabi commented on #107
![Screen Shot 2022-08-30 at 1 58 04 PM](https://user-images.githubusercontent.com/110846899/187541761-cd374bcd-dccc-4b5c-85e4-d6ae1b6baf0d.png)

[2022-08-30 20:58] rzahabi commented on #107
got an error message when trying to do this -- let me know I can work virtual thursday if need be to get this done for you!

[2022-09-06 16:02] #109 closed, assigned to nhchavez, rzahabi

[2022-09-06 16:40] nhchavez opened #112 "make banner for fundamentals course"
- on canva, make a banner for the homepage about the fundamentals course
- link to this page: https://arcticdata.io/training/
- include title
- course dates
- deadline to apply
- and target audeience

[2022-09-08 18:22] nhchavez opened #113 "tweet about new data policy"
policy change: https://www.whitehouse.gov/wp-content/uploads/2022/08/08-2022-OSTP-Public-Access-Memo.pdf
- could do one tweet, could also do a thread

[2022-09-08 18:22] #110 closed, assigned to nhchavez, rzahabi

[2022-09-08 18:22] #107 closed, assigned to nhchavez

[2022-09-08 18:23] nhchavez commented on #108
I like the last two options! They are ready, and should be added on the homepage until we add the banner about the fundamentals course

[2022-09-08 18:24] nhchavez commented on #112
@rzahabi photo needs to a a walrus - I thought it was the fox, sorry!

[2022-09-08 18:24] #105 closed, assigned to nhchavez, rzahabi

[2022-09-08 18:31] nhchavez commented on #97
three scheduled tweet look great. I think we should postpone the Friday one, and tweet about the course instead. the monday tweet about the course had an issue. and we need to tag a bunch of the organizations that we work with - not sure we can use buffer for that
- accounts to tag found [here ](https://docs.google.com/document/d/1iQTKHS4QYcvF9bNXS8QoaY2tUt-M_jEgoeEblB6tGOM/edit) under the section